<html>

<head>
    <style>
        body {
            font-family: sans-serif;
            font-size: 1.2em;
        }
        .container {
            width: 100%;
            margin: 120px 0;
        }
        .c-logo {
            height: 130px;
            display: block;
            margin: 0 auto;
        }
        .c-message {
            margin: 60px auto;
        }
        .c-message p {
            color: #00AAE4;
            text-align: center;
        }
    </style>
</head>

<body>
<div class="container">
    <img src="/static/app/media/unicef_logo.png" class="c-logo">

    <div class="c-message">
        <p>Sorry, this page is expired.</p>
        <p>Please <a href="/login">go back</a> and try again.</p>
    </div>
</div>
</body>

</html>