{% extends 'base/header.html' %}

{% block nav %}
    {% if perms.auth.can_view_distribution_plans %}
        <li id="distribution-plan-nav"
            ng-class="{ active: isActive('/distribution-plans,/delivery-report/new/')} ">
            <a href="#/distribution-plans">Delivery</a>
        </li>
        <li class="dropdown"
            ng-class="{ active: isActive('/field-verification-reports,/delivery-reports')}">
            <a href="#" class="dropdown-toggle">Delivery Reporting <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/field-verification-reports">Field Verification</a></li>
                <li class="divider"></li>
                <li><a href="#/delivery-reports">Reported By IP</a></li>
            </ul>
        </li>
        <li class="dropdown" ng-class="{ active: isActive('/reports,/distribution-plan-responses,/end-user-responses')}">
            <a href="#" class="dropdown-toggle">Reports <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/end-user-responses">Feedback Reports</a></li>
                <li class="divider"></li>
                <li><a href="#/reports">IP Stock Report</a></li>
            </ul>
        </li>
    {% else %}
        <li ng-class="{ active: isActive('/delivery-reports,/delivery-reports/new')}">
            <a href="#/delivery-reports">Reported by IP</a>
        </li>
    {% endif %}
{% endblock %}