<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>SEUMS</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/vendor.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/app.min.css">
    <link rel="icon" href="{{ STATIC_URL }}app/media/favicon.ico">
</head>

<body ng-app="eums">

{% include "header.html" %}

<div ng-view="" class="container-content full-page"></div>

{% include "base/loading.html" %}

<script src="{{ STATIC_URL }}app/js/vendor.min.js"></script>
<script src="{{ STATIC_URL }}app/js/app.min.js"></script>
</body>
</html>
