<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>EUMS</title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="eums">

<div ng-view=""></div>

<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/bower_components/angular/angular.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/bower_components/angular-route/angular-route.js"></script>

<script src="/static/dist/app.min.js"></script>
</body>
</html>
