<div id="vision-import" class="container-fluid">
    <div class="content">
        <h4 class="page-header">Import Data</h4>

        <div class="important-note">
            <em><strong>Important Note:</strong> When importing VISION tables make sure you <u>import the Sales Orders first, then Purchase orders and lastly the Release Orders</u>. This is because Purchase Orders require Sales Orders to exist in the system to be imported, while Release Orders require both Sales Orders and Purchase Orders.</em>
        </div>

        <div class="user-manual">
            A user manual on how to extract the VISION tables can be found <a href="https://docs.google.com/document/d/176OWeAPqay5eV6f5n-ql1hfzi2MoOTR5gCBhysOsfrM/edit?usp=sharing" target="_blank">here</a>.
        </div>

        <div class="panel panel-default" uploader="salesOrdersUploader" filters="queueLimit, customFilter">
            <div class="row pad-20">
                <h4 class="underline">Import Sales Orders (ZSOCLS)</h4>
            </div>
            <div class="row pad-20">
                <label class="col-lg-3" for="import-sales-orders">Import Sales Orders (in excel format):</label>
                <input class="col-lg-2" type="file" nv-file-select="" uploader="salesOrdersUploader"/>
                <span class="col-lg-1" ng-show="salesOrdersUploader.isHTML5"
                      nowrap>{{ salesOrdersUploader.queue[0].file.size/1024/1024|number:2 }} MB</span>


                <button type="button" class="btn btn-primary col-lg-1" ng-click="salesOrdersUploader.queue[0].upload()"
                        ng-disabled="salesOrdersUploader.queue[0].isReady || salesOrdersUploader.queue[0].isUploading">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <div class="progress">
                        <div ng-show="salesOrdersUploader.isHTML5" class="progress-bar" role="progressbar"
                             ng-style="{ 'width': salesOrdersUploader.queue[0].progress + '%' }"></div>
                    </div>
                    <div class="text-danger">{{ errorMessage }}</div>
                </div>
                <div class="col-lg-2">
                    <span ng-show=" salesOrdersUploader.queue[0].isSuccess && !errorMessage"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show=" salesOrdersUploader.queue[0].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show=" salesOrdersUploader.queue[0].isError || errorMessage"><i class="glyphicon glyphicon-remove"></i></span>
                </div>

            </div>
        </div>
        <div class="panel panel-default" uploader="purchaseOrdersUploader" filters="queueLimit, customFilter">
            <div class="row pad-20">
                <h4 class="underline">Import Purchase Orders (ZEXPD)</h4>
            </div>
            <div class="row pad-20">
                <label class="col-lg-3" for="import-sales-orders">Import Purchase Orders (in excel format):</label>
                <input class="col-lg-2" type="file" nv-file-select="" uploader="purchaseOrdersUploader"/>
                <span class="col-lg-1" ng-show="purchaseOrdersUploader.isHTML5"
                      nowrap>{{ purchaseOrdersUploader.queue[0].file.size/1024/1024|number:2 }} MB</span>


                <button type="button" class="btn btn-primary col-lg-1" ng-click="purchaseOrdersUploader.queue[0].upload()"
                        ng-disabled="purchaseOrdersUploader.queue[0].isReady || purchaseOrdersUploader.queue[0].isUploading">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <div class="progress">
                        <div ng-show="purchaseOrdersUploader.isHTML5" class="progress-bar" role="progressbar"
                             ng-style="{ 'width': purchaseOrdersUploader.queue[0].progress + '%' }"></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <span ng-show=" purchaseOrdersUploader.queue[0].isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show=" purchaseOrdersUploader.queue[0].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show=" purchaseOrdersUploader.queue[0].isError"><i class="glyphicon glyphicon-remove"></i></span>
                </div>

            </div>
        </div>
        <div class="panel panel-default" uploader="releaseOrdersUploader" filters="queueLimit, customFilter">
            <div class="row pad-20">
                <h4 class="underline">Import Release Orders (ZROSTS)</h4>
            </div>
            <div class="row pad-20">
                <label class="col-lg-3" for="import-sales-orders">Import Release Orders (in excel format):</label>
                <input class="col-lg-2" type="file" nv-file-select="" uploader="releaseOrdersUploader"/>
                <span class="col-lg-1" ng-show="releaseOrdersUploader.isHTML5"
                      nowrap>{{ releaseOrdersUploader.queue[0].file.size/1024/1024|number:2 }} MB</span>


                <button type="button" class="btn btn-primary col-lg-1" ng-click="releaseOrdersUploader.queue[0].upload()"
                        ng-disabled="releaseOrdersUploader.queue[0].isReady || releaseOrdersUploader.queue[0].isUploading">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <div class="progress">
                        <div ng-show="releaseOrdersUploader.isHTML5" class="progress-bar" role="progressbar"
                             ng-style="{ 'width': releaseOrdersUploader.queue[0].progress + '%' }"></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <span ng-show=" releaseOrdersUploader.queue[0].isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show=" releaseOrdersUploader.queue[0].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show=" releaseOrdersUploader.queue[0].isError"><i class="glyphicon glyphicon-remove"></i></span>
                </div>

            </div>
        </div>
    </div>
</div>

</div>