<div id="vision-import" class="container-fluid">
    <div class="content">
        <h4 class="page-header">Import Data</h4>

        <div class="important-note">
            <em><strong>Important Note:</strong> When importing VISION tables make sure you <u>import the Sales Orders first, then Purchase orders and lastly the Release Orders</u>. This is because Purchase Orders require Sales Orders to exist in the system to be imported, while Release Orders require both Sales Orders and Purchase Orders.</em>
        </div>

        <div class="user-manual">
            A user manual on how to extract the VISION tables can be found <a href="https://docs.google.com/document/d/176OWeAPqay5eV6f5n-ql1hfzi2MoOTR5gCBhysOsfrM/edit?usp=sharing" target="_blank">here</a>.
        </div>

        <div class="panel panel-default" uploader="salesOrdersUploader" filters="queueLimit, customFilter">
            <div class="row pad-20">
                <h4 class="underline">Import Sales Orders (ZSOCLS)</h4>
            </div>
            <div class="row pad-20">
                <label class="col-lg-3" for="import-sales-orders">Import Sales Orders (in excel format):</label>
                <input id="salesOrderFileSelector" class="col-lg-2" type="file" nv-file-select="" uploader="salesOrdersUploader"/>
                <span class="col-lg-1" ng-show="salesOrdersUploader.isHTML5"
                      nowrap>{{ salesOrdersUploader.queue[salesOrdersUploader.queue.length-1].file.size/1024/1024|number:2 }} MB</span>

                <button id="salesOrderUploadBtn" type="button" class="btn btn-primary col-lg-1" ng-click="salesOrdersUploader.queue[salesOrdersUploader.queue.length-1].upload()"
                        ng-disabled="salesOrdersUploader.queue[salesOrdersUploader.queue.length-1].isReady || salesOrdersUploader.queue[salesOrdersUploader.queue.length-1].isUploading">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <div class="progress">
                        <div ng-show="salesOrdersUploader.isHTML5" class="progress-bar" role="progressbar"
                             ng-style="{ 'width': salesOrdersUploader.queue[salesOrdersUploader.queue.length-1].progress + '%' }"></div>
                    </div>
                    <div class="text-danger">{{ errorMessageSO }}</div>
                </div>
                <div class="col-lg-2">
                    <span ng-show=" salesOrdersUploader.queue[salesOrdersUploader.queue.length-1].isSuccess && !errorMessageSO"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show=" salesOrdersUploader.queue[salesOrdersUploader.queue.length-1].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show=" salesOrdersUploader.queue[salesOrdersUploader.queue.length-1].isError || errorMessageSO"><i class="glyphicon glyphicon-remove"></i></span>
                </div>

            </div>
        </div>
        <div class="panel panel-default" uploader="purchaseOrdersUploader" filters="queueLimit, customFilter">
            <div class="row pad-20">
                <h4 class="underline">Import Purchase Orders (ZEXPD)</h4>
            </div>
            <div class="row pad-20">
                <label class="col-lg-3" for="import-sales-orders">Import Purchase Orders (in excel format):</label>
                <input id="purchaseOrderFileSelector" class="col-lg-2" type="file" nv-file-select="" uploader="purchaseOrdersUploader"/>
                <span class="col-lg-1" ng-show="purchaseOrdersUploader.isHTML5"
                      nowrap>{{ purchaseOrdersUploader.queue[purchaseOrdersUploader.queue.length-1].file.size/1024/1024|number:2 }} MB</span>


                <button id="purchaseOrderUploadBtn" type="button" class="btn btn-primary col-lg-1" ng-click="purchaseOrdersUploader.queue[purchaseOrdersUploader.queue.length-1].upload()"
                        ng-disabled="purchaseOrdersUploader.queue[purchaseOrdersUploader.queue.length-1].isReady || purchaseOrdersUploader.queue[purchaseOrdersUploader.queue.length-1].isUploading">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <div class="progress">
                        <div ng-show="purchaseOrdersUploader.isHTML5" class="progress-bar" role="progressbar"
                             ng-style="{ 'width': purchaseOrdersUploader.queue[purchaseOrdersUploader.queue.length-1].progress + '%' }"></div>
                    </div>
                    <div class="text-danger">{{ errorMessagePO }}</div>
                </div>
                <div class="col-lg-2">
                    <span ng-show=" purchaseOrdersUploader.queue[purchaseOrdersUploader.queue.length-1].isSuccess && !errorMessagePO"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show=" purchaseOrdersUploader.queue[purchaseOrdersUploader.queue.length-1].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show=" purchaseOrdersUploader.queue[purchaseOrdersUploader.queue.length-1].isError || errorMessagePO"><i class="glyphicon glyphicon-remove"></i></span>
                </div>

            </div>
        </div>
        <div class="panel panel-default" uploader="releaseOrdersUploader" filters="queueLimit, customFilter">
            <div class="row pad-20">
                <h4 class="underline">Import Release Orders (ZROSTS)</h4>
            </div>
            <div class="row pad-20">
                <label class="col-lg-3" for="import-sales-orders">Import Release Orders (in excel format):</label>
                <input id="releaseOrderFileSelector" class="col-lg-2" type="file" nv-file-select="" uploader="releaseOrdersUploader"/>
                <span class="col-lg-1" ng-show="releaseOrdersUploader.isHTML5"
                      nowrap>{{ releaseOrdersUploader.queue[releaseOrdersUploader.queue.length-1].file.size/1024/1024|number:2 }} MB</span>


                <button id="releaseOrderUploadBtn" type="button" class="btn btn-primary col-lg-1" ng-click="releaseOrdersUploader.queue[releaseOrdersUploader.queue.length-1].upload()"
                        ng-disabled="releaseOrdersUploader.queue[releaseOrdersUploader.queue.length-1].isReady || releaseOrdersUploader.queue[releaseOrdersUploader.queue.length-1].isUploading">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <div class="progress">
                        <div ng-show="releaseOrdersUploader.isHTML5" class="progress-bar" role="progressbar"
                             ng-style="{ 'width': releaseOrdersUploader.queue[releaseOrdersUploader.queue.length-1].progress + '%' }"></div>
                    </div>
                    <div class="text-danger">{{ errorMessageRO }}</div>
                </div>
                <div class="col-lg-2">
                    <span ng-show=" releaseOrdersUploader.queue[releaseOrdersUploader.queue.length-1].isSuccess && !errorMessageRO"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show=" releaseOrdersUploader.queue[releaseOrdersUploader.queue.length-1].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show=" releaseOrdersUploader.queue[releaseOrdersUploader.queue.length-1].isError || errorMessageRO"><i class="glyphicon glyphicon-remove"></i></span>
                </div>

            </div>
        </div>
        <div class="panel panel-default" uploader="consigneesUploader" filters="queueLimit, customFilter">
            <div class="row pad-20">
                <h4 class="underline">Import Consignees</h4>
            </div>
            <div class="row pad-20">
                <label class="col-lg-3" >Import Consignees (in excel format):</label>
                <input id="consigneeFileSelector" class="col-lg-2" type="file" nv-file-select="" uploader="consigneesUploader"/>
                <span class="col-lg-1" ng-show="consigneesUploader.isHTML5"
                      nowrap>{{ consigneesUploader.queue[consigneesUploader.queue.length-1].file.size/1024/1024|number:2 }} MB</span>


                <button id="consigneeUploadBtn" type="button" class="btn btn-primary col-lg-1" ng-click="consigneesUploader.queue[consigneesUploader.queue.length-1].upload()"
                        ng-disabled="consigneesUploader.queue[consigneesUploader.queue.length-1].isReady || consigneesUploader.queue[consigneesUploader.queue.length-1].isUploading">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <div class="progress">
                        <div ng-show="consigneesUploader.isHTML5" class="progress-bar" role="progressbar"
                             ng-style="{ 'width': consigneesUploader.queue[consigneesUploader.queue.length-1].progress + '%' }"></div>
                    </div>
                    <div class="text-danger">{{ errorMessageCO }}</div>
                </div>
                <div class="col-lg-2">
                    <span ng-show=" consigneesUploader.queue[consigneesUploader.queue.length-1].isSuccess && !errorMessageCO"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show=" consigneesUploader.queue[consigneesUploader.queue.length-1].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show=" consigneesUploader.queue[consigneesUploader.queue.length-1].isError || errorMessageCO"><i class="glyphicon glyphicon-remove"></i></span>
                </div>

            </div>
        </div>
        <div class="panel panel-default" uploader="programmesUploader" filters="queueLimit, customFilter">
            <div class="row pad-20">
                <h4 class="underline">Import Programmes</h4>
            </div>
            <div class="row pad-20">
                <label class="col-lg-3" >Import Programmes (in excel format):</label>
                <input id="programmeFileSelector" class="col-lg-2" type="file" nv-file-select="" uploader="programmesUploader"/>
                <span class="col-lg-1" ng-show="programmesUploader.isHTML5"
                      nowrap>{{ programmesUploader.queue[programmesUploader.queue.length-1].file.size/1024/1024|number:2 }} MB</span>


                <button id="prgrammeUploadBtn" type="button" class="btn btn-primary col-lg-1" ng-click="programmesUploader.queue[programmesUploader.queue.length-1].upload()"
                        ng-disabled="programmesUploader.queue[programmesUploader.queue.length-1].isReady || programmesUploader.queue[programmesUploader.queue.length-1].isUploading">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <div class="progress">
                        <div ng-show="programmesUploader.isHTML5" class="progress-bar" role="progressbar"
                             ng-style="{ 'width': programmesUploader.queue[programmesUploader.queue.length-1].progress + '%' }"></div>
                    </div>
                    <div class="text-danger">{{ errorMessagePGO }}</div>
                </div>
                <div class="col-lg-2">
                    <span ng-show=" programmesUploader.queue[programmesUploader.queue.length-1].isSuccess && !errorMessagePGO"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show=" programmesUploader.queue[programmesUploader.queue.length-1].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show=" programmesUploader.queue[programmesUploader.queue.length-1].isError || errorMessagePGO"><i class="glyphicon glyphicon-remove"></i></span>
                </div>

            </div>
        </div>
    </div>
</div>

</div>