*/.git
*/*.iml
*/.coverage
*/*.sqlite3
*/*.pyc
*/.idea/
*/*.log
*/dump.rdb
*/local_settings.py
*/*.DS_Store
*/*.Python
*/eums/bin/*
*/eums/include/*
*/eums/lib/*
*/eums/test/*
*/eums/pip-selfcheck.json

*/initaluser.json
*/celerybeat-schedule.db

*/eums/client/node_modules*
*/eums/client/dist*
*/eums/client/.tmp*
*/eums/client/.sass-cache*
*/eums/client/bower_components*
*/eums/client/coverage*

*/eums/client/test/*
*/eums/client/app/css/app.css
*/eums/client/.node-version
*/eums/client/functional/
*/eums/client/exports/*

!*/.git/HEAD
!*/.git/refs/heads
