<div class="container-fluid">
    <div class="content">
        <h4 class="page-header">Consignees</h4>
        <ng-toast></ng-toast>
        <button id="add-consignee" class="btn btn-primary" ng-click="addConsignee()">Add Consignee</button>
        <div class="panel panel-default line-order-panel">
            <div class="row">
                <div class="text-muted pad-top-10 col-xs-4 pull-left">
                    <ul class="list-inline">
                        <li>
                            <span class="glyphicon glyphicon-ok text-success pad-right-5"></span>Imported from Vision
                        </li>
                    </ul>
                </div>

                <div class="col-xs-4 pull-right">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" id="filter" class="form-control" name="filter" ng-model="searchTerm"
                               placeholder="Search by name, location or vision ID"/>
                    </div>
                </div>
            </div>
            <span class="well-sm"></span>

            <div class="table-wrapper">
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th><a>Name</a></th>
                        <th><a>Location</a></th>
                        <th><a>Vision ID</a></th>
                        <th><a>General Remarks</a></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="consignee in consignees">
                        <td>
                            <span ng-show="consignee.importedFromVision"
                                  class="glyphicon glyphicon-ok text-success"></span>
                        </td>
                        <td>
                            <span ng-show="!consignee.inEditMode || consignee.importedFromVision">
                                {{ consignee.name }}
                            </span>
                            <span ng-show="consignee.inEditMode && !consignee.importedFromVision">
                                <input class="table-input form-control" ng-model="consignee.name">
                            </span>
                        </td>
                        <td>
                            <span ng-show="!consignee.inEditMode || consignee.importedFromVision">
                                {{ consignee.location }}
                            </span>
                            <span ng-show="consignee.inEditMode && !consignee.importedFromVision">
                                <input class="table-input form-control" ng-model="consignee.location">
                            </span>
                        </td>
                        <td>
                            <span ng-show="!consignee.inEditMode || consignee.importedFromVision">
                                {{ consignee.customerId !== 'None' ? consignee.customerId : ''}}
                            </span>
                            <span ng-show="consignee.inEditMode && !consignee.importedFromVision">
                                <input class="table-input form-control" ng-model="consignee.customerId">
                            </span>
                        </td>
                        <td>
                            <span ng-show="!consignee.inEditMode">{{ consignee.remarks }}</span>
                            <span ng-show="consignee.inEditMode">
                                <input class="table-input form-control" ng-model="consignee.remarks">
                            </span>
                        </td>
                        <td>
                            <span ng-show="!consignee.inEditMode">
                                <button class="btn btn-sm btn-default blue-border-button" ng-click="edit(consignee)">
                                    Edit
                                </button>
                                <button class="btn btn-sm btn-default red-border-button"
                                        ng-click="showDeleteDialog(consignee)" ng-show="!consignee.importedFromVision">
                                    Delete
                                </button>
                            </span>
                            <span ng-show="consignee.inEditMode">
                                <button class="btn btn-sm btn-default blue-border-button"
                                        ng-click="save(consignee)" ng-show="consignee.inEditMode">Save
                                </button>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <!--<si-table-pagination limit="15" indices="3"/>-->
                        </td>
                    </tr>
                    </tfoot>
                <span class="information message" ng-show="consignees.length <= 0">
                    There are no matches to your search criteria.
                </span>
                </table>

            </div>
        </div>
    </div>
</div>
<div ng-controller="DeleteConsigneeController">
    <ng-include src="'/static/app/views/consignees/partials/delete-consignee-modal.html'"></ng-include>
</div>
</div>