<div class="container-fluid">
    <div class="eums page-header">Create Direct Deliveries for Purchase
        Order: {{ selectedPurchaseOrder.orderNumber }}</div>
    <div class="content">
        <div class="row pad-left-5 pad-top-10" ng-hide="inSingleIpMode || inMultipleIpMode">
            <span class="label label-success label-as-step-badge">Is this purchase order for a single or multiple Implementing Partners(IP)?</span>
        </div>
        <ng-toast></ng-toast>
        <div ng-hide="inSingleIpMode || inMultipleIpMode" class="row pad-left-5">
            <ul class="nav nav-pills" style="margin-top: 1em;">
                <li role="presentation" >
                    <button id="single-ip" class="btn btn-default blue-border-button" ng-click="showSingleIpMode()">Single IP</button>
                </li>
                <li role="presentation" >
                    <button id="multiple-ip" class="btn btn-default blue-border-button" ng-click="showMultipleIpMode()">Multiple IPs</button>
                </li>
            </ul>
        </div>
        <div ng-show="inSingleIpMode">
            <div class="row pad-left-5 pad-top-10">
                <span class="label label-success label-as-step-badge">Step 2: Please select the Implementing Partners(IP)</span>
            </div>
            <div class="row pad-left-5 pad-top-10">
                <div class="side-pad-left-20 row">
                    <div class="form-horizontal">
                        <div class="form-group col-lg-4" ng-if="IPsLoaded">

                                <label for="select-implementing_partner" class="col-lg-4 control-label description-label">
                                    IP:
                                </label>

                                <div class="col-lg-8">
                                    <input type="hidden" search-from-list list="{{ implementingPartners }}"
                                           ng-model="consignee.id"
                                           ng-attr-id="{{ 'ip-select' }}"
                                           value="{{ consignee.id }}">
                                </div>
                        </div>
                     </div>
                </div>
                <div class="side-pad-left-20 row">
                    <div class="form-horizontal">
                        <div class="form-group col-lg-4">
                            <label class="col-lg-4 control-label description-label">
                                Delivery Date:
                            </label>
                            <div class="col-lg-8">
                        <span class="table-date-width input-group" eums-date-picker>
                            <input type="text"
                                   class="form-control"
                                   readonly="true"
                                   datepicker-popup="dd/MM/yyyy"
                                   ng-model="selectedDate"
                                   is-open="datepicker[$index]"
                                   datepicker-options="dateOptions" show-button-bar="false"
                                   ng-required="true"
                                   value="{{ selectedDate | date : 'dd/MM/yyyy' }}"
                                   required="required"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event, $index )" ng-disabled="item.flowTriggered">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="col-lg-4 control-label description-label">
                                Contact Person:
                            </label>
                            <div class="col-lg-8 form-inline">
                                <div class="form-group table-contact-form-group col-md-10">
                                    <input type="hidden" search-contacts required="required"
                                           value="{{ contact.id }}" ng-model="contact.id"
                                           ng-attr-id="{{ 'contact-select' }}">
                                </div>
                                <div class="form-group table-contact-form-group col-md-2">
                                    <button type="button" class="btn btn-default "
                                            ng-click="addContact(item, $index)" ng-disabled="item.flowTriggered">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-3" ng-if="districtsLoaded">
                            <label class="col-lg-4 control-label description-label">
                                District:
                            </label>
                            <div class="col-lg-8">
                                <input type="hidden" search-from-list list="{{ districts }}"
                                       ng-model="selectedLocation.id"
                                       ng-attr-id="{{ 'location-select' }}"
                                       value="{{ selectedLocation.id }}">
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-default glyphicon glyphicon-list-alt" title="Remark"
                                    ng-click="addRemark($index, item)"
                                    ng-disabled="item.flowTriggered">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="side-pad-left-20 row">
                    <div class="form-horizontal">
                        <div class="well col-lg-7 pull-left">
                        <div class="col-lg-6 no-side-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrder.poType }}</span>
                                    Purchase Order Type
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrder.totalValue | currency }}</span>
                                    Total Value (USD)
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 no-side-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ purchaseOrderItems.length }}</span>
                                    Total Items
                                </li>
                                <li class="list-group-item">
                                    &nbsp;
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="side-pad-left-20 row">
                    <div ng-show="purchaseOrderItems.length">
                        <div class="panel-body ">
                            <table id="singleIPDeliveryItemsTable" class="table table-bordered table-striped table-hover table-condensed">
                                <tr>
                                    <th class="item-list-col-header">No.</th>
                                    <th class="item-list-col-header">Material Number</th>
                                    <th class="item-list-col-header">Item</th>
                                    <th class="item-list-col-header">Unit</th>
                                    <th class="item-list-col-header">Quantity</th>
                                    <th class="item-list-col-header">Value</th>
                                </tr>
                                <tr ng-repeat="(index, item) in purchaseOrderItems">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ item.materialCode }}</td>
                                    <td>{{ item.display }}</td>
                                    <td>{{ item.unit }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.value | currency }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="pad-20 row">
                        <div ng-show="purchaseOrderItems.length" class="pull-right">
                            <button type="button" class="btn btn-primary"
                                    ng-click="warnBeforeSaving()"
                                    ng-disabled="invalidDelivery()">
                                <i class="glyphicon glyphicon-floppy-save"> </i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div ng-show="inMultipleIpMode">
            <div class="row pad-left-5 pad-top-10" ng-show="!planNode">
                <span class="label label-success label-as-step-badge">Step 2: Please select an item in the purchase order to create a direct delivery</span>
            </div>
            <div class="row pad-left-5 pad-top-10">

                <div ng-show="selectedPurchaseOrderItem">
                    <alert ng-show="quantityLeft <= 0" type="warning">All quantities have been assigned for this item.</alert>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group col-lg-4" ng-show="!planNode || consigneeLevel">
                            <div class="col-lg-12">
                                <label for="select-sales-order" class="col-lg-4 control-label description-label">
                                    Item Description:
                                </label>

                                <div class="col-lg-8">
                                    <select id="select-sales-order" ng-model="selectedPurchaseOrderItem"
                                            required="required"
                                            class="form-control" ng-change="selectPurchaseOrderItem()"
                                            ng-options="purchaseOrderItem.display for purchaseOrderItem in purchaseOrderItems | orderBy: 'display'">
                                        <option value="">Select Item</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 pad-top-20"
                                 ng-show="selectedPurchaseOrderItem && distributionPlanNodes.length && !user.consignee_id && isReport">
                                <label for="select-sales-order" class="col-lg-4 control-label description-label">
                                    Track Item:
                                </label>

                                <div class="col-lg-4">
                                    <input type="checkbox" id="track-checkbox"
                                           value="{{ track }}"
                                           ng-model="track"
                                           ng-change="trackpurchaseOrderItem()">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-4" ng-show="planNode && !consigneeLevel">
                            <div class="sub_header_padding">
                                <span class="sub-header">Add Sub-Consignee to Consignee:</span> <span
                                    class="text-muted">{{ planNode.consignee.name }}</span>
                            </div>
                            <div class="sub_header_padding">
                                <button type="button" class="btn btn-default btn-sm blue-border-button"
                                        ng-click="previousConsignee(planNode)">
                                    <span class="glyphicon glyphicon-share-alt flip-horizontal"></span>
                                    Back to Consignee
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="material-items well col-lg-7 pull-right">
                        <div class="col-lg-6 no-side-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrderItem.materialCode }}</span>
                                    Material Code
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrderItem.display }}</span>
                                    Item Description
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 no-side-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ totalQuantity | number }}</span>
                                    Total Quantity
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrderItem.unit }}</span>
                                    Unit
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-show="distributionPlanNodes.length">
                            <table id="distributionPlanTable"
                                   class="table table-bordered table-striped table-hover table-condensed">
                                <th class="table-header-width" id="input-available-quantity-header">Balance</th>
                                <th class="table-header-width" id="input-header">Unit</th>
                                <th id="input-quantity-header">Delivered Qty</th>
                                <th id="input-planned-distribution-date-header">Date Delivered</th>
                                <th class="table-select-header-width">{{ planNode ? 'Sub-Consignee' : 'Consignee'}}</th>
                                <th class="table-contact-select-header-width">Contact Person</th>
                                <th class="table-select-header-width">District</th>
                                <th class="table-header-width" ng-show="distributionPlanReport">Remarks</th>
                                <th class="table-header-width">End User</th>
                                <th class="table-sub-consignee-header-width"></th>

                                <tr ng-repeat="(itemIndex, item) in distributionPlanNodes">
                                    <td id="input-available-quantity">{{ quantityLeft }}</td>
                                    <td id="input-unit">{{ selectedPurchaseOrderItem.unit }}</td>
                                    <td>
                                        <input type="text" id="input-quantity" class="form-control"
                                               ng-disabled="item.flowTriggered"
                                               ng-model="item.targetedQuantity" only-digits>
                                    </td>
                                    <td>
                                        <p class="table-date-width input-group" eums-date-picker>
                                            <input type="text"
                                                   class="form-control"
                                                   readonly="true"
                                                   datepicker-popup="dd/MM/yyyy"
                                                   ng-model="item.plannedDistributionDate"
                                                   ng-disabled="item.flowTriggered"
                                                   is-open="datepicker[$index]"
                                                   datepicker-options="dateOptions" show-button-bar="false"
                                                   ng-required="true"
                                                   value="{{ item.plannedDistributionDate | date : 'dd/MM/yyyy' }}"
                                                   required="required"/>
                                          <span class="input-group-btn">

                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, $index )" ng-disabled="item.flowTriggered">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </td>
                                    <td class="table-select-max-width">
                                        <input type="hidden" search-from-list list="{{ consignees }}"
                                               ng-model="item.consignee.id"
                                               ng-disabled="item.flowTriggered"
                                               value="{{ item.consignee.id }}">
                                    </td>

                                    <td class="table-select-max-width">
                                        <div class="form-inline">
                                            <div class="form-group table-contact-form-group col-md-10">
                                                <input type="hidden" search-contacts required="required"
                                                       value="{{ item.contactPerson.id }}" ng-model="item.contactPerson.id"
                                                       ng-attr-id="{{ 'contact-select-for-node-' + $index }}"
                                                       ng-disabled="item.flowTriggered">
                                            </div>
                                            <div class="form-group table-contact-form-group col-md-2">
                                                <button type="button" class="btn btn-default "
                                                        ng-click="addContact(item, $index)" ng-disabled="item.flowTriggered">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="table-select-max-width">
                                        <input type="hidden" search-from-list list="{{ districts }}"
                                               ng-model="item.location"
                                               ng-disabled="item.flowTriggered"
                                               value="{{ item.location }}">
                                    </td>
                                    <td ng-show="distributionPlanReport">
                                        <div class="text-center">
                                            <button class="btn btn-default glyphicon glyphicon-list-alt" title="Remark"
                                                    ng-click="addRemark($index, item)"
                                                    ng-disabled="item.flowTriggered">
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <input type="checkbox" class="end-user-checkbox"
                                                   value="{{ item.isEndUser }}"
                                                   ng-model="item.isEndUser"
                                                   ng-disabled="item.flowTriggered">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <button class="btn
                                                    {{ item.canReceiveSubConsignees() ? 'btn-primary' : 'btn-default'}}"
                                                    title="Consignees"
                                                    ng-disabled="!item.canReceiveSubConsignees()"
                                                    ng-click="addSubConsignee(item)">Sub-Consignees
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="pad-20 row">
                        <button ng-show="quantityLeft > 0"
                                type="button" class="btn btn-primary" ng-click="addDistributionPlanNode()">
                            <i class="glyphicon glyphicon-plus"> </i>
                            {{ consigneeButtonText }}
                        </button>
                        <div ng-show="distributionPlanNodes.length" class="pull-right">
                            <button type="button" class="btn btn-primary"
                                    ng-click="warnBeforeSaving()"
                                    ng-disabled="invalidNodes">
                                <i class="glyphicon glyphicon-floppy-save"> </i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-controller="AddContactController">
            <ng-include src="'/static/app/views/contacts/partials/add-contact-modal.html'"></ng-include>
        </div>
        <ng-include src="'/static/app/views/distribution-planning/partials/confirmation-dialog.html'"></ng-include>
        <ng-include src="'/static/app/views/distribution-planning/partials/add-remark-modal.html'"></ng-include>
    </div>
</div>
</div>


