<div class="container-fluid">
    <div class="eums page-header">
        <div class="secondary-header">
            {{ selectedPurchaseOrder.programmeName }}
        </div>
        <div>
            Create a Direct Delivery for Purchase Order: {{ selectedPurchaseOrder.orderNumber }}
        </div>
    </div>
    <div class="content">
        <div class="pad-left-5 pad-top-10" ng-hide="inSingleIpMode || inMultipleIpMode">
            <span class="section-header">Is the delivery for a Single IP or Multiple IPs?</span>
        </div>
        <ng-toast></ng-toast>
        <div ng-hide="inSingleIpMode || inMultipleIpMode" class="pad-left-5">
            <ul class="nav nav-pills" style="margin-top: 1em;">
                <li role="presentation" >
                    <button id="single-ip" class="btn btn-default blue-border-button" ng-click="showSingleIpMode()">Single IP</button>
                </li>
                <li role="presentation" >
                    <button id="multiple-ip" class="btn btn-default blue-border-button" ng-click="showMultipleIpMode()">Multiple IPs</button>
                </li>
            </ul>
        </div>
        <div ng-show="inSingleIpMode">
            <div class="pad-left-5 pad-top-10">
                <span class="section-header">Select an Implementing Partner and the Delivery details</span>
            </div>
            <div class="pad-left-5 pad-top-10">
                <div class="col-md-12 form-horizontal">
                    <div class="form-group col-md-4">
                        <label for="input-consignee" class="col-md-5 control-label description-label pad-small">
                            Implementing Partner:
                        </label>
                        <div id='input-consignee' class="col-md-7 pad-small">
                            <input type="hidden" search-consignees only-ips
                                   ng-model="consignee.id"
                                   ng-attr-id="{{ 'ip-select' }}"
                                   value="{{ consignee.id }}">
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <div id="input-delivery-date" class="col-md-12 pad-small">
                            <span class="input-group" eums-date-picker>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Delivery Date"
                                       datepicker-popup="dd/MM/yyyy"
                                       ng-model="selectedDate"
                                       is-open="datepicker[$index]"
                                       datepicker-options="dateOptions"
                                       show-button-bar="false"
                                       ng-required="true"
                                       value="{{ selectedDate | date : 'dd/MM/yyyy' }}"
                                       required="required"/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open($event, $index )" ng-disabled="item.flowTriggered">
                                      <i class="glyphicon glyphicon-calendar"></i>
                                  </button>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label  class="col-md-4 control-label description-label pad-medium">
                            Contact:
                        </label>
                        <div id="input-contact" class="col-md-8 pad-small">
                            <div class="form-group col-md-10 pad-small">
                                <input type="hidden"
                                       search-contacts
                                       required="required"
                                       value="{{ contact.id }}"
                                       ng-model="contact.id"
                                       ng-attr-id="{{ 'contact-select' }}">
                            </div>
                            <div class="form-group col-md-2 pad-small">
                                <button type="button" class="btn btn-default "
                                        ng-click="addContact(item, $index)"
                                        ng-disabled="item.flowTriggered">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2" ng-if="districtsLoaded">
                        <label class="col-md-4 control-label description-label pad-small">
                            District:
                        </label>
                        <div id="input-location" class="col-md-8 pad-small">
                            <input type="hidden"
                                   search-from-list
                                   list="{{ districts }}"
                                   ng-model="selectedLocation.id"
                                   ng-attr-id="{{ 'location-select' }}"
                                   value="{{ selectedLocation.id }}">
                        </div>
                    </div>
                    <div class="text-center col-md-1">
                        <button class="btn btn-default glyphicon glyphicon-list-alt" title="Remark"
                                ng-click="addRemark($index, item)"
                                ng-disabled="item.flowTriggered">
                        </button>
                    </div>
                </div>
                <div>
                    <div class="well col-md-3 pull-right">
                        <div class="col-md-12 no-side-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge" id="po-type">{{ selectedPurchaseOrder.poType }}</span>
                                    PO Type
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge" id="po-total-value">{{ selectedPurchaseOrder.totalValue | currency }}</span>
                                    Total Value
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div ng-show="purchaseOrderItems.length">
                        <div class="panel-body ">
                            <table id="singleIPDeliveryItemsTable" class="table table-bordered table-striped table-hover table-condensed">
                                <tr>
                                    <th class="item-list-col-header">No.</th>
                                    <th class="item-list-col-header">Material No.</th>
                                    <th class="item-list-col-header">Item Description</th>
                                    <th class="item-list-col-header">Qty in PO</th>
                                    <th class="item-list-col-header">Value in PO</th>
                                    <th class="item-list-col-header">Avail. Balance</th>
                                    <th class="item-list-col-header">Qty Shipped</th>
                                    <th class="item-list-col-header">Value of Delivery</th>
                                </tr>
                                <tr ng-repeat="(index, item) in purchaseOrderItems">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ item.item.materialCode }}</td>
                                    <td>{{ item.item.description }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.value | currency }}</td>
                                    <td>{{ item.availableBalance }}</td>
                                    <td class="table-row-input-column">
                                        <input type="text" id="quantity-shipped" class="form-control"
                                               ng-model="item.quantityShipped" only-digits>
                                    </td>
                                    <td>{{ item.deliveryValue(item.quantityShipped) | currency }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="pad-20 row">
                        <div ng-show="purchaseOrderItems.length" class="pull-right">
                            <button id="directDeliverySaveBtn" type="button" class="btn btn-primary"
                                    ng-click="warnBeforeSavingSingleIP()"
                                    ng-disabled="invalidDelivery()">
                                <i class="glyphicon glyphicon-floppy-save"> </i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div ng-show="inMultipleIpMode">
            <div class="row pad-left-5 pad-top-10" ng-show="!parentNode">
                <span class="label label-success label-as-step-badge">Step 2: Please select an item in the purchase order to create a direct delivery</span>
            </div>
            <div class="row pad-left-5 pad-top-10">

                <div ng-show="selectedPurchaseOrderItem">
                    <alert ng-show="quantityLeft <= 0" type="warning">All quantities have been assigned for this item.</alert>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group col-lg-4" ng-show="!parentNode || consigneeLevel">
                            <div class="col-lg-12">
                                <label for="select-sales-order" class="col-lg-4 control-label description-label">
                                    Item Description:
                                </label>

                                <div class="col-lg-8">
                                    <select id="select-sales-order" ng-model="selectedPurchaseOrderItem"
                                            required="required"
                                            class="form-control" ng-change="selectPurchaseOrderItem(selectedPurchaseOrderItem)"
                                            ng-options="purchaseOrderItem.item.description for purchaseOrderItem in purchaseOrderItems | orderBy: 'item.description' track by purchaseOrderItem.id ">
                                        <option value="">Select Item</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 pad-top-20"
                                 ng-show="selectedPurchaseOrderItem && distributionPlanNodes.length && !user.consignee_id && isReport">
                                <label for="select-sales-order" class="col-lg-4 control-label description-label">
                                    Track Item:
                                </label>

                                <div class="col-lg-4">
                                    <input type="checkbox" id="track-checkbox"
                                           value="{{ track }}"
                                           ng-model="track"
                                           ng-change="trackpurchaseOrderItem()">
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-4" ng-show="parentNode && !consigneeLevel">
                            <div class="sub_header_padding">
                                <span class="sub-header">Add Sub-Consignee to Consignee:</span> <span
                                    class="text-muted">{{ parentNode.consignee.name }}</span>
                            </div>
                            <div class="sub_header_padding">
                                <button type="button" class="btn btn-default btn-sm blue-border-button"
                                        ng-click="previousConsignee(parentNode)">
                                    <span class="glyphicon glyphicon-share-alt flip-horizontal"></span>
                                    Back to Consignee
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="material-items well col-lg-7 pull-right">
                        <div class="col-lg-6 no-side-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrderItem.item.materialCode }}</span>
                                    Material Code
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrderItem.item.description }}</span>
                                    Item Description
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 no-side-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ getTotalQuantity() | number }}</span>
                                    Total Quantity
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrderItem.item.unit.name }}</span>
                                    Unit
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-show="distributionPlanNodes.length">
                            <table id="distributionPlanTable"
                                   class="table table-bordered table-striped table-hover table-condensed">
                                <th class="table-header-width" id="input-available-quantity-header">Balance</th>
                                <th class="table-header-width" id="input-header">Unit</th>
                                <th id="input-quantity-header">Delivered Qty</th>
                                <th id="input-planned-distribution-date-header">Date Delivered</th>
                                <th class="table-select-header-width">{{ parentNode ? 'Sub-Consignee' : 'Consignee'}}</th>
                                <th class="table-contact-select-header-width">Contact Person</th>
                                <th class="table-select-header-width">District</th>
                                <th class="table-header-width" ng-show="distributionPlanReport">Remarks</th>
                                <th class="table-header-width">End User</th>
                                <th class="table-sub-consignee-header-width"></th>

                                <tr ng-repeat="(itemIndex, item) in distributionPlanNodes">
                                    <td id="input-available-quantity">{{ computeQuantityLeft(distributionPlanNodes) }}</td>
                                    <td id="input-unit">{{ selectedPurchaseOrderItem.item.unit.name }}</td>
                                    <td>
                                        <input type="text" id="input-quantity" class="form-control"
                                               ng-disabled="item.flowTriggered"
                                               ng-model="item.targetedQuantity" only-digits>
                                    </td>
                                    <td id="input-delivery-date" >
                                        <p class="table-date-width input-group" eums-date-picker>
                                            <input type="text"
                                                   class="form-control"
                                                   datepicker-popup="dd/MM/yyyy"
                                                   ng-model="item.plannedDistributionDate"
                                                   ng-disabled="item.flowTriggered"
                                                   is-open="datepicker[$index]"
                                                   datepicker-options="dateOptions" show-button-bar="false"
                                                   ng-required="true"
                                                   value="{{ item.plannedDistributionDate | date : 'dd/MM/yyyy' }}"
                                                   required="required"/>
                                          <span class="input-group-btn">

                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, $index )" ng-disabled="item.flowTriggered">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </td>
                                    <td id="input-consignee" class="table-select-max-width">
                                        <input type="hidden" search-consignees only-ips
                                               ng-model="item.consignee.id"
                                               ng-disabled="item.flowTriggered"
                                               value="{{ item.consignee.id }}">
                                    </td>

                                    <td id="input-contact" class="table-select-max-width">
                                        <div class="form-inline">
                                            <div class="form-group table-contact-form-group col-md-10">
                                                <input type="hidden" search-contacts required="required"
                                                       value="{{ item.contactPerson.id }}" ng-model="item.contactPerson.id"
                                                       ng-attr-id="{{ 'contact-select-for-node-' + $index }}"
                                                       ng-disabled="item.flowTriggered">
                                            </div>
                                            <div class="form-group table-contact-form-group col-md-2">
                                                <button type="button" class="btn btn-default "
                                                        ng-click="addContact(item, $index)" ng-disabled="item.flowTriggered">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>

                                    <td id="input-location" class="table-select-max-width">
                                        <input type="hidden" search-from-list list="{{ districts }}"
                                               ng-model="item.location"
                                               ng-disabled="item.flowTriggered"
                                               value="{{ item.location }}">
                                    </td>
                                    <td ng-show="distributionPlanReport">
                                        <div class="text-center">
                                            <button class="btn btn-default glyphicon glyphicon-list-alt" title="Remark"
                                                    ng-click="addRemark($index, item)"
                                                    ng-disabled="item.flowTriggered">
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <input type="checkbox" class="end-user-checkbox"
                                                   value="{{ item.isEndUser }}"
                                                   ng-model="item.isEndUser"
                                                   ng-disabled="item.flowTriggered">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <button class="btn
                                                    {{ item.canReceiveSubConsignees() ? 'btn-primary' : 'btn-default'}}"
                                                    title="Consignees"
                                                    ng-disabled="!item.canReceiveSubConsignees()"
                                                    ng-click="addSubConsignee(item)">Sub-Consignees
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="pad-20 row">
                        <button id="addConsigneeBtn" ng-show="computeQuantityLeft(distributionPlanNodes) > 0"
                                type="button" class="btn btn-primary" ng-click="addDistributionPlanNode()">
                            <i class="glyphicon glyphicon-plus"> </i>
                            {{ consigneeButtonText }}
                        </button>
                        <div ng-show="distributionPlanNodes.length" class="pull-right">
                            <button id="directDeliverySaveBtn" type="button" class="btn btn-primary"
                                    ng-click="warnBeforeSaving()"
                                    ng-disabled="invalidNodes">
                                <i class="glyphicon glyphicon-floppy-save"> </i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <eums-contact></eums-contact>
        <ng-include src="'/static/app/views/distribution-planning/partials/confirmation-dialog.html'"></ng-include>
        <ng-include src="'/static/app/views/distribution-planning/partials/add-remark-modal.html'"></ng-include>
    </div>
</div>
</div>


