<div class="container-fluid">
    <div class="eums page-header">Create Direct Deliveries for Purchase Order: {{ selectedPurchaseOrder.orderNumber }}</div>
    <div class="content">
        <div class="row pad-left-5 pad-top-10" ng-hide="inSingleIpMode || inMultipleIpMode" >
            <span class="label label-success label-as-step-badge">Step 1: Is this Purchase order for a single or multiple Implementing Partners(IP)?</span>
        </div>
        <div ng-hide="inSingleIpMode || inMultipleIpMode" class="row pad-left-5">
            <span><input id="single-ip" type="radio" name="ip-group" ng-click="showSingleIpMode()"><label for="single-ip">Single IP</label></span>
            <span><input id="multiple-ip" type="radio" name="ip-group" ng-click="showMultipleIpMode()"><label for="multiple-ip">Multiple IPs</label></span>
        </div>
        <div id="single-ip" ng-show="inSingleIpMode">
            <div class="row pad-left-5 pad-top-10">
                <span class="label label-success label-as-step-badge">Step 2: Please select the Implementing Partners(IP)</span>
            </div>
        </div>
        <div id="multiple-ip" ng-show="inMultipleIpMode">
            <div class="row pad-left-5 pad-top-10">
            <span class="label label-success label-as-step-badge">Step 2: Please select an item in the purchase order to create a direct delivery</span>
        </div>
        </div>
    </div>
</div>


