<div class="container">
    <ng-include src="'/static/app/views/partials/navigation-tabs.html'"></ng-include>
    <!--<ng-include src="'/static/app/views/distribution-planning/partials/contact.html'"></ng-include>-->


    <div ng-controller="DistributionPlanController" ng-init="initialize()">
        <h1>Distribution Plans</h1>

        <div style="float:left; width:60%;">
            <span style="float: left"> <h4>Distribution Plans</h4> </span>

            <div>
                <table style="width: 100%" si-table>
                    <th sort-by="date_created">Date Created</th>
                    <th sort-by="sales_document">Programme Name</th>
                    <th>Action</th>

                    <tr ng-repeat="distributionPlan in distribution_plans">
                        <td>
                            {{distributionPlan.date}}
                        </td>
                        <td>
                            {{distributionPlan.programme.name}}
                        </td>
                        <td>
                            <a href="">View</a> / <a href="">Edit</a>
                        </td>
                    </tr>

                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <si-table-pagination limit="25"/>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div style="float:left; width:30%; margin-left:10px;">
            <span style="float: left"> <h4>Sales Orders</h4> </span>
            <span style="float: right"><button type="button" style="float: right" disabled>Add New Distribution Plan
            </button></span>

            <div>
                <!--<table ng-table="tableParams" class="table">-->
                <!--<tr ng-repeat="salesOrder in $data">-->
                <!--<td data-title="'Date Created'" sortable="'date_created'">{{salesOrder.date_created}}</td>-->
                <!--<td data-title="'Document No.'" sortable="'sales_document'"><a href="#">{{salesOrder.sales_document}}</a></td>-->
                <!--<td data-title="'Select'"><input type="checkbox" ng-click="isChecked(salesOrder)"></td>-->
                <!--</tr>-->
                <!--</table>-->
                <table style="width: 100%" si-table>
                    <th sort-by="date_created">Date Created</th>
                    <th sort-by="sales_document">Document No.</th>
                    <th>Select</th>

                    <tr ng-repeat="salesOrder in salesOrders">
                        <td>
                            {{salesOrder.date_created}}
                        </td>
                        <td>
                            <a href="#">{{salesOrder.sales_document}}</a>
                        </td>
                        <td>
                            <input type="checkbox" ng-click="isChecked(salesOrder)">
                        </td>
                    </tr>

                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <si-table-pagination limit="25"/>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <span style="float: right"><button type="button" style="float: right" ng-click="newDistributionPlan()">Add New Distribution Plan
            </button></span>
        </div>

    </div>

</div>

