<div class="container-fluid">
    <div ng-controller="NewDistributionPlanController" class="content">
        <div ng-show="planSaved">
            <alert type="success">Plan saved.</alert>
        </div>
        <h4 class="page-header">Create A Distribution Plan for Sales Order:
            <span class="text-primary">{{ selectedSalesOrder.order_number }}</span>
            <span class="pull-right">PCR: <span
                    class="text-primary">{{ selectedSalesOrder.programme.name }}</span></span>
        </h4>

        <div ng-show="hasSalesOrderItems">
            <alert ng-show="!hasItemsLeft()" type="danger">All quantities have been assigned for this item.</alert>
        </div>

        <div class="row">
            <div class="form-horizontal">
                <div class="form-group col-lg-4">
                    <label for="select-sales-order" class="col-lg-4 control-label description-label">Item
                        Description:</label>

                    <div class="col-lg-8">
                        <select id="select-sales-order" ng-model="salesOrderItemSelected" required="required"
                                class="form-control"
                                ng-options="salesOrderItem.display for salesOrderItem in salesOrderItems">
                            <option value="" selected="selected">Select Item</option>
                        </select>
                    </div>
                </div>
            </div>

            <div ng-show="hasSalesOrderItems" class="material-items well col-lg-7 pull-right">
                <div class="col-lg-6 no-side-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge alert-info">{{ salesOrderItemSelected.materialCode }}</span>
                            Material Code
                        </li>
                        <li class="list-group-item">
                            <span class="badge alert-info">{{ salesOrderItemSelected.display }}</span>
                            Item Description
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 no-side-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge alert-info">{{ salesOrderItemSelected.quantity | number }}</span>
                            Total Quantity
                        </li>
                        <li class="list-group-item">
                            <span class="badge alert-info">{{ salesOrderItemSelected.unit }}</span>
                            Unit
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-show="hasSalesOrderItems" class="panel panel-default">
            <div class="panel-body">
                <div ng-show="hasDistributionPlanItems">
                    <table id="distributionPlanTable"
                           class="table table-bordered table-striped table-hover table-condensed">
                        <th id="input-available-quantity-header">Available Qty</th>
                        <th id="input-header">Unit</th>
                        <th>Targeted Qty</th>
                        <th id="input-planned-distribution-date-header">Distribution Date</th>
                        <th class="table-select-header-width">Consignee</th>
                        <th class="table-select-header-width">Contact Person</th>
                        <th class="table-select-header-width">Region/District</th>
                        <th>Mode of Delivery</th>
                        <th>Remark</th>
                        <th></th>

                        <tr ng-repeat="item in distributionPlanItems">
                            <td id="input-available-quantity">{{ selectedSalesOrderItem.quantityLeft }}</td>
                            <td id="input-unit">{{ salesOrderItemSelected.unit }}</td>
                            <td>
                                <input type="text" id="input-quantity" class="form-control"
                                       ng-model="item.targetQuantity">
                            </td>
                            <td>
                                <p class="input-group" eums-date-picker>
                                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                                           ng-model="item.plannedDistributionDate"
                                           is-open="datepicker[$index]"
                                           datepicker-options="dateOptions" show-button-bar="false"
                                           ng-required="true"
                                           value="{{ item.plannedDistributionDate | date : 'dd/MM/yyyy' }}"
                                           required="required"/>
                                  <span class="input-group-btn">

                                    <button type="button" class="btn btn-default" ng-click="open($event, $index )">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </td>
                            <td class="table-select-max-width">
                                <input type="hidden" search-from-list list="{{ consignees }}"
                                       ng-model="item.consignee"
                                       value="{{ item.consignee }}">
                            </td>

                            <td class="table-select-max-width">
                                <input type="hidden" search-contacts
                                       value="{{ item.contactPerson }}"
                                       ng-model="item.contactPerson" required="required">
                            </td>

                            <td class="table-select-max-width">
                                <input type="hidden" search-from-list list="{{ districts }}"
                                       ng-model="item.destinationLocation"
                                       value="{{ item.destinationLocation }}">
                            </td>
                            <td id="input-mode-of-delivery">
                                <input type="hidden" search-from-list
                                       list='[{"id": "DIRECT_DELIVERY", "name": "Direct Delivery"},
                                        {"id": "WAREHOUSE", "name": "Warehouse"}]'
                                       ng-model="item.modeOfDelivery"
                                       value="{{ item.modeOfDelivery }}">
                            </td>
                            <td>
                                <input type="text" class="input form-control" ng-model="item.remark"
                                       value="{{ item.remark }}">
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-show="item.alreadySaved">
                                    Sub-Consignee
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="pad-20">
                <button ng-show="distributionPlanItems[distributionPlanItems -1].quantity !== 0" type="button" class="btn btn-primary"
                        ng-click="addDistributionPlanItem()"><i
                        class="glyphicon glyphicon-plus"> </i>Add Consignee
                </button>
                <div ng-show="hasDistributionPlanItems" style="float: right">
                    <button type="button" class="btn btn-primary"
                            ng-click="saveDistributionPlanItems()"><i
                            class="glyphicon glyphicon-floppy-save"> </i>Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
