<div class="container-fluid">
    <div ng-controller="NewDistributionPlanController" ng-init="initialize()" class="content">
        <div  ng-show="planSaved"><alert type="success">Plan saved.</alert></div>
        <h4 class="page-header">Create A Distribution Plan for Sales Order:
            <span class="text-primary">{{ selectedSalesOrder.order_number }}</span>
            <span class="pull-right">PCR: <span class="text-primary">{{ selectedSalesOrder.programme.name }}</span></span>
        </h4>

        <div ng-show="hasSalesOrderItems">
            <alert ng-show="!hasItemsLeft()" type="danger">All quantities have been assigned for this item.</alert>
        </div>

        <div class="row">
            <div class="form-group form-group-sm col-lg-4">
                <label for="selectSalesOrder" class="col-lg-4 control-label">Item Description:</label>
                <div class="col-lg-8">
                    <select id="selectSalesOrder" ng-model="salesOrderItemSelected" required="required"
                            class="form-control input-sm"
                            ng-options="salesOrderItem.display for salesOrderItem in salesOrderItems">
                        <option value="" selected="selected">Select Item</option>
                    </select>
                </div>
            </div>

            <div ng-show="hasSalesOrderItems" id="materialItems" class="well col-lg-7 pull-right">
                <div class="col-lg-6 no-side-padding">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span class="badge alert-info">{{ salesOrderItemSelected.material_code }}</span>
                        Material Code
                      </li>
                      <li class="list-group-item">
                        <span class="badge alert-info">{{ salesOrderItemSelected.display }}</span>
                        Item Description
                      </li>
                    </ul>
                </div>
                <div class="col-lg-6 no-side-padding">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span class="badge alert-info">{{ salesOrderItemSelected.quantity }}</span>
                        Quantity
                      </li>
                      <li class="list-group-item">
                        <span class="badge alert-info">{{ salesOrderItemSelected.unit }}</span>
                        Unit
                      </li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-show="hasSalesOrderItems" class="panel panel-default">
            <div class="panel-body">
                <div ng-show="hasDistributionPlanItems">
                    <table id="distributionPlanTable"
                           class="table table-bordered table-striped table-hover">
                        <th class="col-lg-1">Available Qty</th>
                        <th class="col-lg-1">Unit</th>
                        <th class="col-lg-1">Targeted Qty</th>
                        <th class="col-lg-2">Planned Distr Date</th>
                        <th class="col-lg-2">Consignee</th>
                        <th class="col-lg-2">Contact Person</th>
                        <th class="col-lg-1">Region/District</th>
                        <th class="col-lg-1">Mode of Delivery</th>
                        <th class="col-lg-1">Remark</th>

                        <tr ng-repeat="distributionPlanItem in distributionPlanItems">
                            <td>{{ distributionPlanItem.quantity }}</td>
                            <td>{{ salesOrderItemSelected.unit }}</td>
                            <td>
                                <input type="text" class="input-quantity"
                                       ng-model="distributionPlanItem.targetQuantity">
                            </td>
                            <td>
                                <p class="input-group" ng-controller="DatePickerController">
                                  <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"  ng-model="distributionPlanItem.plannedDistributionDate" is-open="opened" datepicker-options="dateOptions" show-button-bar="false" ng-required="true" value="{{ distributionPlanItem.plannedDistributionDate | date : 'dd/MM/yyyy' }}" required="required"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </td>
                            <td>
                                <input type="hidden" search-from-list list="{{ consignees }}"
                                       ng-model="distributionPlanItem.consignee"
                                       value="{{ distributionPlanItem.consignee }}">
                            </td>

                            <td>
                                <input type="hidden" search-contacts value="{{ distributionPlanItem.contactPerson }}"
                                       ng-model="distributionPlanItem.contactPerson" required="required">
                            </td>

                            <td>
                                <input type="hidden" search-from-list list="{{ districts }}"
                                       ng-model="distributionPlanItem.destinationLocation"
                                       value="{{ distributionPlanItem.destinationLocation }}">
                            </td>
                            <td>
                                <input type="hidden" search-from-list
                                       list='[{"id": "DIRECT_DELIVERY", "name": "Direct Delivery"},
                                        {"id": "WAREHOUSE", "name": "Warehouse"}]'
                                       ng-model="distributionPlanItem.modeOfDelivery"
                                       value="{{ distributionPlanItem.modeOfDelivery }}">
                            </td>
                            <td>
                                <input type="text" class="input" ng-model="distributionPlanItem.remark"
                                       value="{{ distributionPlanItem.remark }}">
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="pad-20">
                <button ng-show="hasItemsLeft()" type="button" class="btn btn-primary"
                        ng-click="addDistributionPlanItem()"><i
                        class="glyphicon glyphicon-plus"> </i>Add IP
                </button>
                <div ng-show="hasDistributionPlanItems" style="float: right">
                    <button type="button" class="btn btn-primary"
                            ng-click="saveDistributionPlanItems(distributionPlanItems)"><i
                            class="glyphicon glyphicon-floppy-save"> </i>Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>