<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="content">
        <ng-toast></ng-toast>

        <h4 class="page-header">Waybill No:
            <span class="text-primary">{{ selectedReleaseOrder.waybill }}</span>
        </h4>

        <h4 class="page-header">Implementing Partner:
            <span class="text-primary">{{ selectedReleaseOrder.consignee.name }}</span>
        </h4>

        <h4 class="page-header">
        <form>
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group col-lg-2">
                        Delivery Date:
                    </div>
                    <div class="form-group col-lg-2">
                        <span class="table-date-width input-group" eums-date-picker>
                        <input type="text"
                               class="form-control"
                               readonly="true"
                               datepicker-popup="dd/MM/yyyy"
                               ng-model="selectedDate"
                               is-open="datepicker[$index]"
                               datepicker-options="dateOptions" show-button-bar="false"
                               ng-required="true"
                               value="{{ selectedDate | date : 'dd/MM/yyyy' }}"
                               required="required"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, $index )" ng-disabled="item.flowTriggered">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </span>
                    </div>

                    <div class="form-group col-lg-2">
                        Contact Person:
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="form-inline">
                            <div class="form-group table-contact-form-group col-md-10">
                                <input type="hidden" search-contacts
                                       value="{{ contact.id }}"
                                       required="required"
                                       ng-model="contact.id"
                                       ng-attr-id="{{ 'contact-select' }}"
                                       ng-disabled="item.flowTriggered">
                            </div>
                            <div class="form-group table-contact-form-group col-md-2">
                                <button type="button"
                                        ng-click="addContact()"
                                        class="btn btn-default ">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        District:
                        {{ selectedLocatinId }}
                    </div>
                    <div class="form-group col-lg-2" ng-if="districtsLoaded">
                        <input type="hidden" search-from-list list="{{ districts }}"
                               ng-model="selectedLocation.id"
                               value="{{ selectedLocation.id }}">
                    </div>
                </div>
            </div>
            </form>
        </h4>

        <div class="row">
            <div class="col-md-2">
                <span>Release Order</span>
                <span class="label label-success label-as-badge">{{ selectedReleaseOrder.orderNumber }}</span>
            </div>
            <div class="col-md-2">
                <span>Total Items</span>
                <span class="label label-success label-as-badge">{{ selectedReleaseOrder.items.length }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span>Total Value (USD)</span>
                <span class="label label-success label-as-badge">{{ selectedReleaseOrder.totalValue | number }}</span>
            </div>
        </div>

        <div ng-show="releaseOrderItems.length" class="panel panel-default warehouse-delivery-panel">
            <div class="panel-body ">
                <table id="warehouseDeliveryTable" class="table table-bordered table-striped table-hover table-condensed">
                    <tr>
                        <th class="table-header-width" id="input-available-quantity-header">No.</th>
                        <th class="table-header-width" id="input-header">Material</th>
                        <th id="input-quantity-header">Description</th>
                        <th id="input-planned-distribution-date-header">Quantity</th>
                        <th class="table-select-header-width">Unit</th>
                        <th class="table-contact-select-header-width">Value</th>
                    </tr>
                    <tr ng-repeat="(itemIndex, releaseOrderItem) in releaseOrderItems">
                        <td>{{ itemIndex + 1 }}</td>
                        <td>{{ releaseOrderItem.item.materialCode }}</td>
                        <td>{{ releaseOrderItem.item.description }}</td>
                        <td>{{ releaseOrderItem.quantity }}</td>
                        <td>{{ releaseOrderItem.item.unit.name }}</td>
                        <td>{{ releaseOrderItem.value }}</td>
                    </tr>
                </table>
            </div>
            <div class="pad-20 row">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" ng-click="saveDelivery()">
                        <i class="glyphicon glyphicon-floppy-save"> </i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'/static/app/views/contacts/partials/add-contact-modal.html'"></ng-include>
    <ng-include src="'/static/app/views/distribution-planning/partials/add-remark-modal.html'"></ng-include>
</div>
