<ng-include src="'/static/app/views/delivery/partials/unicef-delivery-header.html'"></ng-include>
<ng-toast></ng-toast>

<div class="container-fluid">
    <div class="row pad-right-20">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3 filter-label pad-small">
                    <label class="control-label description-label">Purchase Order:</label>
                </div>
                <div class="col-md-4 margin-bottom-10">
                    <div class="inner-addon right-addon">
                        <i class="glyphicon blue-unicef"
                           ng-class="{'glyphicon-cog glyphicon-spin': searching, 'glyphicon-search': !searching}"></i>
                        <input type="text" id="filter-purchase-order" class="form-control" name="filter"
                               ng-model="searchTerm.purchaseOrder"
                               placeholder="All Purchase Orders"/>
                    </div>
                </div>
                <div class="col-md-1 filter-label pad-small">
                    <label class="control-label description-label">Outcome:</label>
                </div>
                <div class="col-md-4 margin-bottom-10" id="filter-programme-container">
                    <input id="filter-programme" type="hidden" search-programmes ng-model="searchTerm.programmeId"
                           value="{{ item.programme.id }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-right-20">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3 filter-label pad-small">
                    <label class="control-label description-label">Item Description:</label>
                </div>
                <div class="col-md-4 margin-bottom-10">
                    <div class="inner-addon right-addon">
                        <i class="glyphicon blue-unicef"
                           ng-class="{'glyphicon-cog glyphicon-spin': searching, 'glyphicon-search': !searching}"></i>
                        <input type="text" id="filter-item-description" class="form-control" name="filter"
                               ng-model="searchTerm.itemDescription"
                               placeholder="Item Description"/>
                    </div>
                </div>
                <div class="col-md-1 filter-label pad-small">
                    <label class="control-label description-label">District:</label>
                </div>
                <div class="col-md-4 margin-bottom-10" id="filter-district-container">
                    <input id="select-district" class="form-control" type="hidden" placeholder="All Districts"
                           search-from-list list="$districts" ng-model="searchTerm.selectedLocation">
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-right-20 filter-bar">
        <div class="col-md-4 text-muted">
            <ul class="list-inline">
                <li>
                    <span class="glyphicon glyphicon-ok text-success pad-right-5"></span>Fully Tracked
                </li>
                <li>
                    <span class="glyphicon glyphicon-warning-sign text-warning pad-right-5"></span>Partially Tracked
                </li>
                <li>
                    <span class="glyphicon glyphicon-remove text-danger pad-right-5"></span>Not Tracked
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3 filter-label pad-small">
                    <label class="control-label description-label">Last Shipment Date:</label>
                </div>
                <div class="col-md-2 pad-right-5">
                    <span class="input-group" eums-date-picker>
                        <input type="text"
                               class="form-control white-bg"
                               datepicker-popup="dd-MMM-yyyy"
                               ng-model="searchTerm.fromDate"
                               is-open="datepicker[0]"
                               datepicker-options="dateOptions"
                               show-button-bar="false"
                               ng-required="true"
                               ng-disabled="true"
                               placeholder="From"
                               required="required"
                               value="{{ fromDate | date : 'dd-MMM-yyyy' }}"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open($event, 0)">
                              <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                    </span>
                </div>
                <div class="col-md-2 pad-left-5">
                    <span class="input-group" eums-date-picker>
                        <input type="text"
                               class="form-control white-bg"
                               datepicker-popup="dd-MMM-yyyy"
                               ng-model="searchTerm.toDate"
                               is-open="datepicker[1]"
                               datepicker-options="dateOptions"
                               show-button-bar="false"
                               ng-required="true"
                               ng-disabled="true"
                               placeholder="To"
                               required="required"
                               value="{{ toDate | date : 'dd-MMM-yyyy' }}"/>
                        <span class="input-group-btn">
                          <button type="button"
                                  class="btn btn-default"
                                  ng-click="open($event, 1)">
                              <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                    </span>
                </div>
                <div class="col-md-1 filter-label pad-small">
                    <label class="control-label description-label">IP:</label>
                </div>
                <div class="col-md-4 margin-bottom-10" id="filter-ip-container">
                    <input id="filter-by-ip" type="hidden" select-i-p ng-model="searchTerm.ipId"
                           value="{{ item.consignee.id }}">
                </div>
            </div>
        </div>
    </div>

    <div class="table-wrapper">
        <table si-table class="table table-bordered table-hover table-striped delivery">
            <thead>
            <tr>
                <th style="width: 2%;">&nbsp;</th>
                <th>
                    <a ng-click="sortBy('orderNumber')">{{ documentColumnTitle }} <i
                            ng-class="sortArrowClass('orderNumber');"></i></a>
                </th>
                <th>
                    <a ng-click="sortBy('date')">{{ dateColumnTitle }} <i ng-class="sortArrowClass('date');"></i></a>
                </th>
                <th>
                    <a ng-click="sortBy('trackedDate')">{{ trackedDateColumnTitle }} <i
                            ng-class="sortArrowClass('trackedDate');"></i></a>
                </th>
                <th>
                    <a ng-click="sortBy('lastShipmentDate')">{{ lastShipmentDateColumnTitle }} <i
                            ng-class="sortArrowClass('lastShipmentDate');"></i></a>
                </th>
                <th>
                    <a ng-click="sortBy('poType')">{{ poTypeColumnTitle }} <i ng-class="sortArrowClass('poType');"></i></a>
                </th>
                <th>
                    {{ outcomeColumnTitle }}
                </th>
                <th class="col-xs-4 aligned-left" ng-if="descriptionColumnTitle">
                    {{ descriptionColumnTitle }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr si-sortable="single"
                ng-repeat="purchaseOrder in purchaseOrders | orderFilter: query:dateQuery:searchFields | orderBy: sort.criteria:!sort.descending">
                <td>
                    <span ng-class="purchaseOrder.track == 'Not' ?  'glyphicon glyphicon-remove text-danger' :
                    (purchaseOrder.track == 'Fully' ? 'glyphicon glyphicon-ok text-success' : 'glyphicon glyphicon-warning-sign text-warning')"></span>
                </td>
                <td data-header="{{ documentColumnTitle }}">
                    <a ng-click="selectPurchaseOrder(purchaseOrder)">{{ purchaseOrder.orderNumber }}</a>
                    <div class="modal fade text-left" id="select-modal-{{ purchaseOrder.id }}">
                        <div class="modal-dialog modal-sixty-percent-size">
                            <div class="modal-content col-md-offset-3 col-md-6">
                                <div class="modal-header">
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal">
                                        <span aria-hidden="true" class="glyphicon glyphicon-remove-sign text-"></span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="eums-modal-header-warning">
                                        <i class="glyphicon glyphicon-warning-sign pad-right-5"></i>
                                        Please Select the type of Delivery
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="pad-bottom-5 text-color-grey">Please note that you will not be able to
                                        switch between Single IP and Multiple IP delivery for this Purchase Order after
                                        saving
                                        the delivery.
                                    </div>
                                </div>
                                <div class="modal-footer align-center">
                                    <button id="btn-single-ip" type="button"
                                            class="btn btn-primary eums-border-width-95"
                                            ng-click="showSingleIpMode(purchaseOrder)"
                                            data-dismiss="modal">
                                        Single IP
                                    </button>
                                    <span class="bold pad-left-15 pad-right-15"> OR </span>
                                    <button id="btn-multiple-ip" type="button"
                                            class="btn btn-primary"
                                            ng-click="showMultipleIpMode(purchaseOrder)"
                                            data-dismiss="modal">
                                        Multiple IP
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td data-header="Date Created">
                    {{ purchaseOrder.date | date : 'dd-MMM-yyyy' }}
                </td>
                <td data-header="Tracked Date">
                    {{ purchaseOrder.trackedDate | date : 'dd-MMM-yyyy' }}
                </td>
                <td data-header="Last Shipment Date">
                    {{ purchaseOrder.lastShipmentDate | date : 'dd-MMM-yyyy' }}
                </td>
                <td data-header="{{ poTypeColumnTitle }}">
                    {{ purchaseOrder.poType }}
                </td>
                <td data-header="{{ outcomeColumnTitle }}">
                    {{ purchaseOrder.programmeName }}
                </td>
                <td data-header="{{ descriptionColumnTitle }}" ng-if="descriptionColumnTitle">
                    {{ purchaseOrder.description }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="pagination-row" colspan="7">
                    <pagination total-items="count" ng-model="currentPage" boundary-links="true"
                                ng-change="goToPage(currentPage)" max-size="5" rotate="false"
                                items-per-page="pageSize">
                    </pagination>
                </td>
            </tr>
            </tfoot>
                <span class="information message"
                      ng-show="purchaseOrders.length > 0 && (purchaseOrders | orderFilter: query:dateQuery:searchFields ).length == 0">
                There are no matches to your search criteria.
                </span>
            <span class="information message" ng-show="purchaseOrders.length == 0">There are no deliveries available right now.</span>
        </table>
    </div>
</div>

