<ng-include src="'/static/app/views/delivery/partials/ip-delivery-header.html'"></ng-include>

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-4 pull-right">
            <div class="inner-addon left-addon">
                <i class="glyphicon "
                   ng-class="{'glyphicon-cog glyphicon-spin': searching, 'glyphicon-search': !searching}"></i>
                <input type="text" id="filter" class="form-control" name="filter" ng-model="searchTerm"
                       placeholder="Search by item description"/>
            </div>
        </div>
    </div>
    <span class="well-sm"></span>

    <div>
        <table si-table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th class="left-aligned">Item Description</th>
                <th class="left-aligned">Available Qty</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="($index, item) in items">
                <td class="centered v-align-middle">{{ $index + 1 }}</td>
                <td class="v-align-middle">{{ item.itemDescription }}</td>
                <td class="v-align-middle">{{ item.availableBalance }}</td>
                <td class="v-align-middle">
                    <button class="btn btn-sm btn-success" ng-click="view(item)">View</button>
                    <button class="btn btn-sm btn-info" ng-click="reportOn(item)">Report</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="centered">
                    <pagination total-items="count" ng-model="currentPage" boundary-links="true"
                                ng-change="goToPage(currentPage)" max-size="5" rotate="false"
                                items-per-page="pageSize">
                    </pagination>
                </td>
            </tr>
            </tfoot>
                <span class="information message"
                      ng-show="purchaseOrders.length > 0 && (purchaseOrders | orderFilter: query:dateQuery:searchFields ).length == 0">
                There are no matches to your search criteria.
                </span>
            <span class="information message" ng-show="!items.length">There are no items delivered to you yet.</span>
        </table>
    </div>
</div>

