<div class="container-fluid">
    <div class="eums page-header">
        <div class="secondary-header">
            {{ selectedPurchaseOrder.programmeName }}
        </div>
        <div>
            Create a Direct Delivery for Purchase Order: {{ selectedPurchaseOrder.orderNumber }}
        </div>
    </div>
    <div class="content">
        <div>
            <div class="row pad-left-5 pad-top-10">
                <span class="label label-success label-as-step-badge">Step 2: Please select an item in the purchase order to create a direct delivery</span>
            </div>
            <div class="row pad-left-5 pad-top-10">

                <div ng-show="selectedPurchaseOrderItem">
                    <alert ng-show="quantityLeft <= 0" type="warning">All quantities have been assigned for this item.
                    </alert>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group col-lg-4">
                            <div class="col-lg-12">
                                <label for="select-sales-order" class="col-lg-4 control-label description-label">
                                    Item Description:
                                </label>

                                <div class="col-lg-8">
                                    <select id="select-sales-order" ng-model="selectedPurchaseOrderItem"
                                            required="required"
                                            class="form-control"
                                            ng-change="selectPurchaseOrderItem(selectedPurchaseOrderItem)"
                                            ng-options="purchaseOrderItem.item.description for purchaseOrderItem in purchaseOrderItems | orderBy: 'item.description' track by purchaseOrderItem.id ">
                                        <option value="">Select Item</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="material-items well col-lg-7 pull-right">
                        <div class="col-lg-6 no-side-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrderItem.item.materialCode }}</span>
                                    Material Code
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ selectedPurchaseOrderItem.item.description }}</span>
                                    Item Description
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 no-side-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ getTotalQuantity() | number }}</span>
                                    Total Quantity
                                </li>
                                <li class="list-group-item">
                                    <span class="label label-success label-as-badge">{{ computeQuantityLeft(distributionPlanNodes) }}</span>
                                    Available Quantity
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-show="distributionPlanNodes.length">
                            <table id="distributionPlanTable"
                                   class="table table-bordered table-striped table-hover table-condensed">
                                <th id="input-quantity-header">Qty Shipped</th>
                                <th id="input-planned-distribution-date-header">Shipment Date</th>
                                <th class="table-select-header-width">Consignee</th>
                                <th class="table-contact-select-header-width">Contact Person</th>
                                <th class="table-select-header-width">District</th>
                                <th class="table-header-width" ng-show="distributionPlanReport">Remarks</th>
                                <th class="table-header-width">End User</th>
                                <th class="table-header-width">Track</th>

                                <tr ng-repeat="(itemIndex, item) in distributionPlanNodes">
                                   <td>
                                        <input type="text" id="input-quantity" class="form-control"
                                               ng-model="item.quantityIn"
                                               ng-disabled="item.trackSubmitted" only-digits>

                                    </td>
                                    <td id="input-delivery-date">
                                        <p class="table-date-width input-group" eums-date-picker>
                                            <input type="text"
                                                   class="form-control"
                                                   datepicker-popup="dd/MM/yyyy"
                                                   ng-model="item.deliveryDate"
                                                   ng-required="true"
                                                   ng-disabled="item.trackSubmitted"
                                                   is-open="datepicker[$index]"
                                                   datepicker-options="dateOptions" show-button-bar="false"
                                                   value="{{ item.deliveryDate | date : 'dd/MM/yyyy' }}"
                                                   required="required"/>
                                          <span class="input-group-btn">

                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, $index )"
                                                    ng-disabled="item.trackSubmitted">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </td>
                                    <td id="input-consignee" class="table-select-max-width">
                                        <input type="hidden" search-consignees only-ips
                                               ng-model="item.consignee.id"
                                               ng-disabled="item.trackSubmitted"
                                               value="{{ item.consignee.id }}">
                                    </td>

                                    <td id="input-contact" class="table-select-max-width">
                                        <div class="form-inline">
                                            <div class="form-group table-contact-form-group col-md-10">
                                                <input type="hidden" search-contacts required="required"
                                                       value="{{ item.contactPerson.id }}"
                                                       ng-model="item.contactPerson.id"
                                                       ng-disabled="item.trackSubmitted"
                                                       ng-attr-id="{{ 'contact-select-for-node-' + $index }}">
                                            </div>
                                            <div class="form-group table-contact-form-group col-md-2">
                                                <button type="button" class="btn btn-default "
                                                        ng-click="addContact(item, $index)"
                                                        ng-disabled="item.trackSubmitted">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>

                                    <td id="input-location" class="table-select-max-width">
                                        <input type="hidden" search-from-list list="{{ districts }}"
                                               ng-model="item.location"
                                               ng-disabled="item.trackSubmitted"
                                               value="{{ item.location }}">
                                    </td>
                                    <td ng-show="distributionPlanReport">
                                        <div class="text-center">
                                            <button class="btn btn-default glyphicon glyphicon-list-alt" title="Remark"
                                                    ng-disabled="item.trackSubmitted"
                                                    ng-click="addRemark($index, item)">
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <input type="checkbox" class="end-user-checkbox"
                                                   value="{{ item.isEndUser }}"
                                                   ng-model="item.isEndUser"
                                                   ng-disabled="item.trackSubmitted">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <input type="checkbox" class="end-user-checkbox"
                                                   value="{{ item.track }}"
                                                   ng-model="item.track"
                                                   ng-disabled="item.trackSubmitted">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="pad-20 row">
                        <button id="addConsigneeBtn" ng-show="computeQuantityLeft(distributionPlanNodes) > 0"
                                type="button" class="btn btn-primary" ng-click="addDeliveryNode()">
                            <i class="glyphicon glyphicon-plus"> </i>
                            Add Consignee
                        </button>
                        <div ng-show="distributionPlanNodes.length" class="pull-right">
                            <button id="directDeliverySaveBtn" type="button" class="btn btn-primary"
                                    ng-click="warnBeforeSaving()"
                                    ng-disabled="invalidNodes">
                                <i class="glyphicon glyphicon-floppy-save"> </i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <eums-contact></eums-contact>
        <ng-include src="'/static/app/views/delivery/partials/confirmation-dialog.html'"></ng-include>
        <ng-include src="'/static/app/views/delivery/partials/add-remark-modal.html'"></ng-include>
    </div>
</div>
</div>


