<div class="eums-fixed-header eums-solid-bottom-border">
    <div class="eums page-header">
        <div class="secondary-header">
            {{ purchaseOrder.programmeName }}
        </div>
        <div>
            Create a Single IP Delivery
        </div>
    </div>
    <div class="pad-top-10">
        <div class="row">
            <div class="col-md-3">
                <label class="blue-unicef section-sub-header">PURCHASE ORDER DETAILS</label>
                <ul class="list-group ">
                    <li class="list-group-item">
                        <span class="label label-success label-as-badge border-radius-5"
                              id="po-number">{{ purchaseOrder.orderNumber }}</span>
                        <span>PO Number</span>
                    </li>
                    <li class="list-group-item">
                        <span class="label label-success label-as-badge border-radius-5"
                              id="po-type">{{ purchaseOrder.poType }}</span>
                        PO Type
                    </li>
                    <li class="list-group-item">
                        <span class="label label-success label-as-badge border-radius-5"
                              id="po-total-value">{{ purchaseOrder.totalValue | currency }}</span>
                        Approximate Total Value
                    </li>
                </ul>
            </div>

            <div class="col-md-5">
                <label class="section-sub-header blue-unicef">DELIVERY DETAILS</label>

                <div class="container container-details eums-clearfix pad-top-10">
                    <div class="row">
                        <div class="form-group col-md-7"
                             ng-class="{'has-error': !delivery.contact_person_id && errors}">
                            <div class="row">
                                <div class=" col-md-12">
                                    <label for="input-contact" class="control-label">Contact</label>
                                </div>
                            </div>
                            <div class="row control-label" id="input-contact" ng-if="contentLoaded">
                                <div class="col-md-10 form-group pad-right-5">
                                    <input type="hidden"
                                           search-contacts
                                           required="required"
                                           value="{{ delivery.contact_person_id }}"
                                           ng-model="delivery.contact_person_id"
                                           ng-attr-id="{{ 'contact-select' }}">
                                </div>
                                <div class="col-md-2 form-group no-side-padding">
                                    <button type="button" class="btn btn-default"
                                            ng-click="addContact(item, $index)">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-5"
                             ng-class="{'has-error': !delivery.delivery_date && errors}">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="input-delivery-date" class="control-label">Shipment
                                        Date</label>
                                </div>
                            </div>
                            <div class="row" id="input-delivery-date" ng-if="contentLoaded">
                                <div class="col-md-12">
                                    <span class="input-group" eums-date-picker>
                                        <input type="text" class="form-control"
                                               datepicker-popup="dd-MMM-yyyy"
                                               ng-model="delivery.delivery_date"
                                               is-open="datepicker[$index]"
                                               datepicker-options="dateOptions"
                                               show-button-bar="false"
                                               ng-required="true"
                                               required="required"
                                               value="{{ delivery.delivery_date | date : 'dd-MMM-yyyy' }}"/>
                                        <span class="input-group-btn">
                                          <button type="button" class="btn btn-default"
                                                  ng-click="open($event, $index )">
                                              <i class="glyphicon glyphicon-calendar"></i>
                                          </button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4"
                             ng-class="{'has-error': !delivery.consignee && errors}">
                            <div class="row">
                                <div class=" col-md-12">
                                    <label for="input-consignee" class="control-label">IP</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id='input-consignee' ng-if="contentLoaded">
                                    <input type="hidden" search-consignees only-ips
                                           ng-model="delivery.consignee"
                                           ng-attr-id="{{ 'ip-select' }}"
                                           ng-disabled="cannotChangeIp()"
                                           value="{{ delivery.consignee }}"
                                            {{ ipFieldTitle()?
                                                    title="You can not change IP for this PO but you can still deliver more items" :
                                                    title="" }}>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3 pad-left-0"
                             ng-class="{'has-error': !delivery.location && errors}" ng-if="districtsLoaded">
                            <div class="row">
                                <div class=" col-md-12">
                                    <label for="input-location" class="control-label">Choose
                                        District</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="input-location" ng-if="districtsLoaded && contentLoaded">
                                    <input type="hidden"
                                           search-from-list
                                           list="{{ districts }}"
                                           ng-model="delivery.location"
                                           ng-attr-id="{{ 'location-select' }}"
                                           value="{{ delivery.location }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-5"
                             ng-class="{'has-error': !valid_time_limitation}">
                            <div class="row">
                                <div class=" col-md-12">
                                    <label class="control-label" for="days-distribution">
                                        Time limitation on Distribution
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-12">
                                    <input type="text" size="2" required="required"
                                           ng-model="delivery.time_limitation_on_distribution" class="form-control"
                                           value="{{ delivery.time_limitation_on_distribution }}" placeholder="days"
                                           only-digits/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 pull-right eums-border-height-175 eums-auto-scroll">
                <label class="section-sub-header blue-unicef">PREVIOUS DELIVERIES</label>
                <table id="trackedDeliveriesTable" class="table table-curved light-blue-table-header"
                       ng-show="trackedDeliveries">
                    <tr>
                        <th class="item-list-col-header">#</th>
                        <th class="item-list-col-header">Date</th>
                        <th class="item-list-col-header">Approximate Total Value</th>
                    </tr>
                    <tr ng-repeat="(index, delivery) in trackedDeliveries">
                        <td>{{ index + 1 }}</td>
                        <td ng-click="viewDelivery(delivery)"
                            class="btn-link">{{ delivery.delivery_date | date : 'dd-MMM-yyyy' }}
                        </td>
                        <td>{{ delivery.total_value | currency }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid margin-top-270">
    <div class="content">
        <ng-toast></ng-toast>
        <div class="pad-left-5">
            <div>
                <div ng-show="purchaseOrderItems.length">
                    <div class="panel-body">
                        <table id="singleIPDeliveryItemsTable"
                               class="table table-curved blue-table-header vertical-align-middle">
                            <thead>
                            <tr>
                                <th class="item-list-col-header">No.</th>
                                <th class="item-list-col-header">Material No.</th>
                                <th class="item-list-col-header">Item Description</th>
                                <th class="item-list-col-header">Qty in PO</th>
                                <th class="item-list-col-header">Value in PO</th>
                                <th class="item-list-col-header">Avail. Balance</th>
                                <th class="item-list-col-header">Qty Shipped</th>
                                <th class="item-list-col-header">Approximate Value</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="(index, item) in purchaseOrderItems">
                                <td>{{ index + 1 }}</td>
                                <td>{{ item.item.materialCode }}</td>
                                <td>{{ item.item.description }}</td>
                                <td class="align-right pad-right-20">{{ item.quantity }}</td>
                                <td class="align-right pad-right-20">{{ item.value | currency }}</td>
                                <td class="align-right pad-right-20">{{ item.availableBalance }}</td>
                                <td class="table-row-input-column">
                                    <input type="text" id="quantity-shipped" class="form-control"
                                           ng-model="item.quantityShipped" only-digits
                                           ng-class="{'border-red': item.isInvalid(item.quantityShipped) && errors}">
                                </td>
                                <td class="align-right pad-right-20">{{ item.deliveryValue(item.quantityShipped) |
                                        currency }}
                                </td>
                            </tr>
                        </table>

                        <div class="pad-20 row">
                            <div ng-show="purchaseOrderItems.length" class="pull-right">
                                <button id="save-draft" type="button" class="btn btn-primary"
                                        ng-click="save()">
                                    <i class="glyphicon glyphicon-floppy-save"> </i>
                                    Save draft
                                </button>
                                <button id="save-and-track" type="button" class="btn btn-primary"
                                        ng-click="save(true)" ng-dbl-click="save()">
                                    Save & Track
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <eums-contact></eums-contact>
    <ng-include src="'/static/app/views/delivery/partials/add-remark-modal.html'"></ng-include>
    <ng-include src="'/static/app/views/delivery/partials/view-delivery-modal.html'"></ng-include>
</div>
