<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="content">
        <ng-toast></ng-toast>
        <h4 class="page-header">Waybill No:
            <span class="text-primary">{{ selectedReleaseOrder.waybill }}</span>
        </h4>

        <h4 class="page-header">Implementing Partner:
            <span class="text-primary">{{ selectedReleaseOrder.consignee.name }}</span>
        </h4>
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group col-lg-4">
                    <label class="col-lg-4 control-label description-label">
                        Shipment Date:
                    </label>
                    <div class="col-lg-8">
                        <label class="col-lg-4 control-label text-success">{{ selectedReleaseOrder.deliveryDate | date : 'dd/MM/yyyy' }}</label>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <label class="col-lg-4 control-label description-label">
                        Contact Person:
                    </label>
                    <div class="col-lg-8 form-inline">
                        <div class="form-group table-contact-form-group col-md-10">
                            <input type="hidden" search-contacts required="required"
                                   value="{{ contact.id }}" ng-model="contact.id"
                                   ng-attr-id="{{ 'contact-select' }}">
                        </div>
                        <div class="form-group table-contact-form-group col-md-2">
                            <button type="button" class="btn btn-default "
                                    ng-click="addContact(item, $index)" ng-disabled="item.flowTriggered">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-3" ng-if="districtsLoaded">
                    <label class="col-lg-4 control-label description-label">
                        District:
                    </label>
                    <div class="col-lg-8">
                        <input type="hidden" search-from-list list="{{ districts }}"
                           ng-model="selectedLocation.id"
                           ng-attr-id="{{ 'location-select' }}"
                           value="{{ selectedLocation.id }}">
                    </div>
                </div>
            </div>
            <div class="material-items well col-lg-7 pull-left">
                <div class="col-lg-6 no-side-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="label label-success label-as-badge">{{ selectedReleaseOrder.orderNumber }}</span>
                            Release Order
                        </li>
                        <li class="list-group-item">
                            <span class="label label-success label-as-badge">{{ selectedReleaseOrder.totalValue | number }}</span>
                            Total Value (USD)
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 no-side-padding">
                    <ul class="list-group">
                        <li class="list-group-item">

                            <span class="label label-success label-as-badge">{{ selectedReleaseOrder.items.length }}</span>
                            Total Items
                        </li>
                    </ul>
                </div>
             </div>
        </div>

        <div ng-show="releaseOrderItems.length">
            <div class="panel-body ">
                <table id="warehouseDeliveryTable" class="table table-bordered table-striped table-hover table-condensed">
                    <tr>
                        <th class="item-list-col-header">No.</th>
                        <th class="item-list-col-header">Material</th>
                        <th class="item-list-col-header">Description</th>
                        <th class="item-list-col-header">Quantity</th>
                        <th class="item-list-col-header">Unit</th>
                        <th class="item-list-col-header">Value</th>
                    </tr>
                    <tr ng-repeat="(itemIndex, releaseOrderItem) in releaseOrderItems">
                        <td>{{ itemIndex + 1 }}</td>
                        <td>{{ releaseOrderItem.item.materialCode }}</td>
                        <td>{{ releaseOrderItem.item.description }}</td>
                        <td>{{ releaseOrderItem.quantity }}</td>
                        <td>{{ releaseOrderItem.item.unit.name }}</td>
                        <td>{{ releaseOrderItem.value }}</td>
                    </tr>
                </table>
            </div>
            <div class="pad-20 row">
                <div class="pull-right">
                    <button id="warehouseSaveBtn" type="button" class="btn btn-primary" ng-click="saveDelivery()">
                        <i class="glyphicon glyphicon-floppy-save"> </i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <eums-contact ></eums-contact>
    <ng-include src="'/static/app/views/delivery/partials/add-remark-modal.html'"></ng-include>
</div>
