<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="content">
        <ng-toast></ng-toast>

        <div class="eums page-header fixed">
            Create a Warehouse Delivery
        </div>

        <div class="row col-lg-11 three-columns-form stripped-form">
            <div class="col-md-4">
                <div class="sub-header">IMPLEMENTING PARTNER</div>
                <div>
                    <table class="stripped-bordered">
                        <tr id="itemNameLabel">
                            <td class="bold-label">Implementing Partner:</td>
                            <td class="align-right"><span
                                    class="label label-success item-quantity-label">{{ selectedReleaseOrder.consignee.name }}</span>
                            </td>
                        </tr>
                        <tr id="qty-available-label">
                            <td class="bold-label">Shipping Date:</td>
                            <td class="align-right"><span
                                    class="label label-success item-quantity-label">{{ selectedReleaseOrder.deliveryDate | date : 'dd-MMM-yyyy' }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="waybill-details">
                <div class="sub-header">WAYBILL DETAILS</div>
                <div>
                    <table class="stripped-bordered">
                        <tr id="itemNameLabel">
                            <td class="bold-label">Waybill No:</td>
                            <td class="align-right"><span
                                    class="label label-success item-quantity-label">{{ selectedReleaseOrder.waybill }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold-label">Total Value</td>
                            <td class="align-right"><span
                                    class="label label-success item-quantity-label">{{ selectedReleaseOrder.totalValue | currency }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-header">DELIVERY DETAILS</div>
                <div class="rounded-border col-md-12">
                    <div class="col-md-12 margin-bottom-10">
                        <div class="bold-label pad-small">Contact Person</div>
                        <div class="col-md-10 pad-small" ng-class="{'has-error': !contact.id && errors}">
                            <div class="form-group table-contact-form-group col-md-10">
                                <input type="hidden" search-contacts required="required"
                                       ng-disabled="isDeliveryTracked() || !can_add_distributionplan"
                                       value="{{ contact.id }}" ng-model="contact.id"
                                       ng-attr-id="{{ 'contact-select' }}">
                            </div>
                            <div class="form-group table-contact-form-group plus-btn col-md-2">
                                <button type="button" class="btn btn-default"
                                        ng-disabled="isDeliveryTracked() || !can_add_distributionplan"
                                        ng-click="addContact(item, $index)">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 margin-bottom-10">
                        <div class="bold-label pad-small">Choose District</div>
                        <div id="input-location" class="pad-small col-md-10" ng-if="districtsLoaded"
                             ng-class="{'has-error': !selectedLocation.id && errors}">
                            <div class="table-contact-form-group col-md-10">
                                <input type="hidden" search-from-list
                                       list="{{ districts }}"
                                       ng-disabled="isDeliveryTracked() || !can_add_distributionplan"
                                       value="{{ selectedLocation.id }}"
                                       ng-model="selectedLocation.id"
                                       ng-attr-id="{{ 'location-select' }}">
                            </div>
                        </div>
                        <div class="margin-10 col-mg-4">
                            <label class="control-label"
                                   ng-class="(isDeliveryTracked() || !can_add_distributionplan) ? 'text-muted' : 'description-label'">
                                <input type="checkbox" ng-disabled="isDeliveryTracked() || !can_add_distributionplan"
                                       ng-model="track">
                                Track delivery
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12 margin-bottom-10">
                        <div class="bold-label pad-small">Time Limitation on Distribution</div>
                        <div class="col-md-10 pad-small" ng-class="{'has-error': !valid_time_limitation}">
                            <input type="text" size="2" required="required"
                                   ng-disabled="!can_add_distributionplan"
                                   ng-model="delivery.time_limitation_on_distribution" class="form-control"
                                   value="{{ delivery.time_limitation_on_distribution }}"
                                   placeholder="days" only-digits/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div ng-show="releaseOrderItems.length">
            <div class="panel-body">
                <table si-table id="warehouseDeliveryTable"
                       class="table table-bordered table-hover table-striped delivery">
                    <thead>
                    <tr>
                        <th width="2%">NO.</th>
                        <th>MATERIAL NO.</th>
                        <th>Item Description</th>
                        <th>QUANTITY</th>
                        <th>VALUE</th>
                        <th>UNIT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(itemIndex, releaseOrderItem) in releaseOrderItems">
                        <td>{{ itemIndex + 1 }}</td>
                        <td>{{ releaseOrderItem.item.materialCode }}</td>
                        <td>{{ releaseOrderItem.item.description }}</td>
                        <td>{{ releaseOrderItem.quantity }}</td>
                        <td>{{ releaseOrderItem.value | currency }}</td>
                        <td>{{ releaseOrderItem.item.unit.name.capitalize() }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pad-20 row">
                <div class="pull-right" ng-show="can_add_distributionplan">
                    <button id="warehouseSaveBtn" type="button" class="btn btn-primary" ng-click="saveDelivery()">
                        <i class="glyphicon glyphicon-floppy-save"> </i>
                        Save Delivery
                    </button>
                </div>
            </div>
        </div>
    </div>
    <eums-contact></eums-contact>
    <ng-include src="'/static/app/views/delivery/partials/add-remark-modal.html'"></ng-include>
</div>
