<div class="panel panel-default line-order-panel">
    <div class="row">
        <div class="col-xs-4 pull-right">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text"
                       id="filter"
                       class="form-control"
                       name="filter"
                       ng-model="query.productReceived"
                       placeholder="Search for responses"/>
            </div>
        </div>
    </div>
    <h4 class="page-header">All responses for {{ allResponses[0].location }} <span
            class="text-lowercase">{{ systemSettings.district_label }}</span></h4>

    <div class="table-wrapper">
        <table si-table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th class="table-header">Item Description</th>
                <th class="table-header">Outcome</th>
                <th class="table-header">Implementing Partner</th>
                <th class="table-header">Purchase Order</th>
                <th class="table-header table-header-end-user">End User</th>
                <th class="table-header">Item Received</th>
                <th class="table-header">Date Received</th>
                <th class="table-header">Quantity Sent</th>
                <th class="table-header">Quantity Received</th>
                <th class="table-header">Quality of Product</th>
                <th class="table-header">Satisfied?</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="response in allResponses | filter:query:strict">
                <td class="table-body">{{ response.item }}</td>
                <td class="table-body">{{ response.programme.name }}</td>
                <td class="table-body">{{ response.consignee.name }}</td>
                <td class="table-body"><a ng-click="clickPurchaseOrder(response.purchaseOrder)">{{ response.purchaseOrder.orderNumber }}</a></td>
                <td class="table-body">
                    <span class="table-body-end-user">{{ response.contactPerson ? (response.contactPerson.firstName +' '+ response.contactPerson.lastName) : 'Not Found' }}</span>
                    <a custom-popover class="btn btn-default btn-xs glyphicon glyphicon-earphone pull-right"
                       ng-show="response.contactPerson.phone" popover-html="{{ response.contact_person.phone }}"></a>
                </td>
                <td class="table-body">{{ response.productReceived }}</td>
                <td class="table-body">{{ response.dateOfReceipt }}</td>
                <td class="table-body">{{ response.amountSent }}</td>
                <td class="table-body">{{ response.amountReceived || '0' }}</td>
                <td class="table-body">{{ response.qualityOfProduct }}</td>
                <td class="table-body">{{ response.satisfiedWithProduct }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="11">
                    <si-table-pagination limit="10" indices="3"></si-table-pagination>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>