<div class="modal fade animated shake" id="auto-track-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
        <div class="modal-content col-md-10">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelAutoTrack()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">No</span>
                </button>

                <h4 class="modal-title text-danger">
                    <div id="switch-on-auto-track-text" ng-show="isON">
                        <i class="glyphicon glyphicon-warning-sign"></i> All warehouse deliveries will automatically show
                        on the corresponding IP Delivery Page
                    </div>

                    <div id="switch-off-auto-track-text" ng-hide="isON">
                        <i class="glyphicon glyphicon-warning-sign"></i> All warehouse deliveries not manually tracked
                        will be hidden from the IP Delivery Page
                    </div>
                </h4>

            </div>
            <div class="modal-body align-center">
                <h5>Confirm to proceed?</h5>
            </div>
            <div class="modal-footer align-center">
                <button
                        type="button"
                        class="btn btn-default"
                        ng-click="cancelAutoTrack()">
                    Cancel
                </button>
                &nbsp;&nbsp;
                <button
                        type="button"
                        class="btn btn-primary"
                        ng-click="confirmAutoTrack()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>