<div class="modal fade" id="sync-start-date-confirm-modal">

    <div class="modal-dialog" role="document">
        <div class="modal-content col-md-10">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelSync()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">No</span>
                </button>
                <h4 class="modal-title text-danger">
                    <div ng-show="isAllowSync">
                        <i class="glyphicon glyphicon-warning-sign"></i> This will start the automatic importing
                        of VISION data
                    </div>

                    <div ng-hide="isAllowSync">
                        <i class="glyphicon glyphicon-warning-sign"></i> Note that the Start Date can only be changed
                        to an earlier date
                    </div>
                </h4>

            </div>
            <div class="modal-body align-center" ng-show="isAllowSync">
                <h5>Confirm to proceed?</h5>
            </div>
            <div class="modal-footer align-center" ng-show="isAllowSync">
                <button
                        type="button"
                        class="btn btn-default"
                        ng-click="cancelSync()">
                    Cancel
                </button>
                &nbsp;&nbsp;
                <button
                        type="button"
                        class="btn btn-primary"
                        ng-click="confirmSync()">
                    Confirm
                </button>
            </div>
            <div class="modal-footer align-center" ng-hide="isAllowSync">
                <button
                        type="button"
                        class="btn btn-primary"
                        ng-click="cancelSync()">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>