.alerts-sub-header {
  color: grey;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.alerts-container {
  margin-top: 30px;
  width: auto;
}

.alerts-container {
  table {
    margin-bottom: 20px;
    width: 100%;
    tr {
      border-bottom: 1px solid #DDD;

      td {
        padding: 10px 10px 10px 0;
      }
      td:last-child {
        padding-left: 25px;
        text-align: right;
      }
    }
  }
}

.table-container {
  border: 1px solid #DDD;
}

.alert-row {
  border-bottom: 1px solid #E9E9E9;
  border-top: 2px solid white;
  font-size: 16px;
  padding: 14px;
  background-color: #FAFAFA;
}

.alerts-bolder {
  font-weight: bolder;
}

.alerts-grey {
  color: grey;
}

.alerts-issue {
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 10px;
  vertical-align: middle;
}

.not_received {
  background-color: #CE0B24;
}

.incomplete {
  background-color: #F3A536;
}

.bad_condition {
  background-color: #F3A536;
}

.substandard {
  background-color: #CE0B24;
}

.damaged {
  background-color: #8000FF;
}

.expired {
  background-color: #8000FF;
}

.not_satisfied {
  background-color: #F3A536;
}

.menubar .alert-info {
  color: #FFF;
  background-color: #CE0B24;
  position: relative;
  top: -1px;
}

.modal-sixty-percent-size {
  width: 60%;
}

@light-grey: #EAE9E9;
@grey: #B9B9B7;

.text-white {
  color: #FFF;
}

.eums-modal-header {
  padding: 15px 0 5px 0;
  font-size: 1.4em;
  font-weight: bold;
  color: @brand-primary;
  margin: 0;
}

.eums-modal-content {
  border-radius: 5px;
  background: @light-grey;
  padding: 10px;
}

.bg-grey {
  background: @grey;
}
