.info {
  color: white;
  background-color: @brand-info;
}

.success {
  color: white;
  background-color: @brand-success;
}

.danger {
  color: white;
  background-color: @brand-danger;
}

.warning {
  color: white;
  background-color: @brand-warning;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date] {
  width: 100px;
  height: 80%;
  font-size: 10px;
}

.form-control[readonly] {
  background-color: white;
}

a, #distribution-plan-nav {
  cursor: pointer;
}

html, body {
  padding-top: 40px;
  height: 100%;
  width: 100%;
}

h4.page-header {
  color: @brand-primary;
  margin: 20px 0px 20px;
  font-weight: bold;
}

.eums.page-header {
  padding: 15px 0 5px 0;
  font-size: 1.4em;
  font-weight: bold;
  color: @brand-primary;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.sub-header {
  font-size: 1em;
  font-weight: bold;
  color: @brand-primary;
}

.breadcrumb-section {
  padding-top: 5px;
  position: absolute;
  height: 40px;
  width: 100%;
  cursor: pointer;
  top: 0px;
  z-index: 0;
  text-align: center;
}

.text-primary {
  color: darken(@brand-primary, 13.5%);
  font-size: 16px;
}

.pad-left-5 {
  padding-left: 5px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-right-5 {
  padding-right: 5px;
}

.underline {
  text-decoration: underline;
}

.pad-20 {
  padding: 20px;
}

.sub_header_padding {
  padding: 20px 15px 0px 20px;
}

.label-as-badge {
  border-radius: 1em;
  float: right;
  font-size: 90%;
  font-weight: normal;
}

.flip-horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.blue-border-button {
  border-color: #1CABE2;
  color: #1CABE2;
  font-weight: bold;
}

.pad-top-20 {
  padding-top: 20px;
}

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-side-padding ul {
  margin-bottom: 0px;
}

.material-items {
  margin-right: 20px;
  padding: 10px;
}

.disabled {
  background-color: dimgray;
}

.white {
  color: white !important;
}

.container-content {
  padding-top: 10px;
}

.full-page {
  height: 100%
}

.description-label {
  color: darken(@brand-primary, 13.5%);
}

.table-select {
  width: 80px;
}

.input-phone-number {
  width: 100px;
}

#input-planned-distribution-date-header {
  width: 160px;
}

#input-mode-of-delivery {
  width: 160px;
}

.table-date {
  width: 160px;
}

#input-delivery-reporting-received,
#input-delivery-reporting-quantity {
  width: 100px;
}

#input-quantity {
  width: 80px;
}

#input-quantity-header {
  width: 20px;
}

#input-unit-header, #input-available-quantity-header {
  text-align: center;
  max-width: 90px;
}

#input-unit, #input-available-quantity {
  text-align: center;
  vertical-align: middle;
  max-width: 30px;
}

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
}

.left-addon .glyphicon {
  left: 0px;
}

.glyphicon-plus.pull-right {
  padding-left: 5px;
}

.select2-container {
  width: 100% !important;
}

.left-addon input {
  padding-left: 30px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

.container {
  width: 100%;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.dropdown-menu .divider {
  height: 2px;
}

.reset-width{
  width: initial !important;
}

#track-checkbox {
  height: 22px;
  width: 22px;
}

#vision-import .important-note {
  font-size: 18px;
  margin-bottom: 10px;
}

#vision-import .user-manual {
  margin-bottom: 10px;
}

