.modal {
  top: 60px;
}

#loading.modal .location {
  position: absolute;
  left: 50%;
  top: 50%;

  img {
    margin-left: -50%;
    margin-top: -50%;
    width: 128px;
    height: 128px;
  }
}

.confirm-modal {
  table.modal-table {
    table-layout: fixed;
    width: 450px;
    .col-question {
      width: 195px;
    }
    .col-answer {
      width: auto;
    }
  }
  ol {
    margin-left: -15px;
    margin-top: 5px;
    ul {
      li {
        i {
          vertical-align: top;
          cursor: pointer;
          padding-left: 5px;
          font-size: 16px;
        }
      }
    }
    img {
      height: 50px;
    }
  }
}
