table tbody {
  height: 50px;
  overflow: auto;
}

table thead tr {
  background-color: #6FC9EB;
}

th {
  text-align: center;
}

table thead tr th:hover {
  background-color: #05A0DB;
}

table thead a {
  color: white;
}

table thead a:hover {
  color: white;
  text-decoration: underline;
}

table tbody tr:nth-child(even) {
  background-color: #E3F4FB;
}

table tbody tr:nth-child(odd) {
  background-color: #E3F4FB;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #9BDCF5;
}

.table-select-header-width {
  width: 200px;
}

.table-select-max-width {
  max-width: 120px;
}
