<div class="container-fluid">
    <div class="eums page-header">Reported By IP</div>
    <div class="content">
        <ul class="nav nav-pills" style="margin-top: 1em;" ng-controller="NavigationTabsController">
            <li role="presentation" ng-class="{active : isActive('/ip-direct-delivery')}">
                <a href="#/ip-direct-delivery" class="btn btn-default blue-border-button btn-xs">Purchase Orders</a>
            </li>
            <li role="presentation" ng-class="{active : isActive('/ip-warehouse-delivery')}">
                <a href="#/ip-warehouse-delivery" class="btn btn-default blue-border-button btn-xs">Waybills</a>
            </li>
        </ul>
    </div>
</div>