<div class="container-fluid">
    <div class="content">
        <h4 class="eums page-header">System Configuration</h4>

        <div class="container-fluid">
            <div class="row row-spaced">
                <div class="col-md-offset-2 col-md-3">
                    <label class="pull-right" for="notification">Notification message to IPs</label>
                </div>
                <div class="col-md-4">
                    <p>
                        <textarea class="form-control" rows="5" id="notification"></textarea>
                    </p>

                    <p>
                        This message will be displayed on the IP's UNICEF Shipment page when IPs report on delivery.
                        This will allow you to inform IPs on who to contact if deliveries are not showing up on their
                        dashboard or put any other relevant info related to reporting on deliveries.
                    </p>
                    <button class="btn btn-eums-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                    <button class="btn btn-eums-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                </div>
            </div>
            <div class="row row-spaced">
                <div class="col-md-offset-2 col-md-3">
                    <label class="pull-right">Auto Track Warehouse Delivery</label>
                </div>

                <div class="col-md-4">
                    <input
                            bs-switch
                            ng-model="isSelected"
                            type="checkbox"
                            id="auto-track-switch"
                            name="auto-track-switch"
                            switch-active="{{ isActive }}"
                            switch-on-text="{{ onText }}"
                            switch-off-text="{{ offText }}"
                            switch-animate="{{ animate }}"
                            switch-size="{{ size }}"
                            switch-radio-off="{{ radioOff }}"
                            switch-label-width="{{ labelWidth }}"
                            switch-handle-width="{{ handleWidth }}"
                            switch-inverse="{{ !inverse }}"
                    />
                </div>
            </div>
            <div class="row row-spaced">
                <div class="col-md-offset-2 col-md-3">
                    <label class="pull-right">Sync start date</label>
                </div>
                <div class="col-md-2 pad-small">
                    <span class="input-group" eums-date-picker>
                        <input type="text" class="form-control white-bg"
                               datepicker-popup="dd-MMM-yyyy"
                               ng-model="settings.syncStartDate"
                               is-open="datepicker[1]"
                               datepicker-options="dateOptions"
                               show-button-bar="false"
                               ng-required="true"
                               ng-disabled="true"
                               placeholder="{{ settings.syncStartDate }}"
                               required="required"
                               value="{{ settings.syncStartDate | date : 'dd-MMM-yyyy' }}"/>
                            <span class="input-group-btn">
                              <button type="button"
                                      class="btn btn-default"
                                      ng-click="open($event, 1)">
                                  <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                            </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-toast></ng-toast>
<ng-include
        src="'/static/app/views/system/partials/auto-track-confirm-dialog.html'">
</ng-include>
