<div class="container-fluid">
    <div class="content">
        <h4 class="page-header">Contacts</h4>
        <ng-toast></ng-toast>

        <button id="add-contact" class="btn btn-primary" ng-click="showAddContact()" ng-show="can_add">Add Contact
        </button>
        <div class="panel panel-default line-order-panel">
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text"
                               id="filter"
                               class="form-control"
                               name="filter"
                               ng-model="query"
                               placeholder="Search by first name, last name or phone"/>
                    </div>
                </div>
            </div>
            <span class="well-sm"></span>

            <div class="table-wrapper">
                <table class="table table-bordered table-striped table-hover table-condensed" si-table>
                    <thead ng-init="initialize()">
                    <tr>
                        <th><a sort-by="firstName" sort-init="asc">First Name</a></th>
                        <th><a sort-by="lastName">First Name</a></th>
                        <th><a sort-by="phone">Phone</a></th>
                        <th><a sort-by="district" ng-bind="systemSettings.district_label || 'District' "></a></th>
                        <th><a sort-by="ips">Ip / Consignee</a></th>
                        <th><a sort-by="types">Type</a></th>
                        <th><a sort-by="outcomes">Outcome</a></th>

                        <th ng-show="can_view_users"><a sort-by="createdBy">Created By</a></th>
                        <th><a sort-by="createdOn">Created Date</a></th>
                        <th ng-show="can_change" class="width-160"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr si-sortable="single" ng-repeat="contact in contacts | contactsFilter: query">
                        <td class="text-left">{{ contact.firstName }}</td>
                        <td class="text-left">{{ contact.lastName }}</td>
                        <td class="text-left">{{ contact.phone }}</td>
                        <td class="text-left" id="contact.districts">
                            <div ng-repeat="district in contact.districts | orderBy: 'toString()'">{{ district }}</div>
                        </td>
                        <td class="text-left" id="contact.ips">
                            <div ng-repeat="ip in contact.ips | orderBy: 'toString()'">{{ ip }}</div>
                        </td>
                        <td class="text-left" id="contact.types">
                            <div ng-repeat="type in contact.types | orderBy: 'toString()'">{{ type }}</div>
                        </td>
                        <td class="text-left" id="contact.outcomes">
                            <div ng-repeat="outcome in contact.outcomes | orderBy: 'toString()'">{{ outcome }}</div>
                        </td>
                        <td class="text-left" ng-show="can_view_users">{{ contact.createdByUserName }}</td>
                        <td class="text-left">{{ formatDate(contact.createdOn) }}</td>
                        <td ng-show="can_change">
                            <button class="btn btn-primary"
                                    ng-show="can_change"
                                    ng-click="showEditContact(contact)">Edit
                            </button>
                            <button class="btn btn-primary"
                                    ng-show="can_delete"
                                    ng-click="showDeleteContact(contact)">Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <si-table-pagination limit="15" indices="3"/>
                        </td>
                    </tr>
                    </tfoot>
                <span class="information message"
                      ng-show="contacts.length > 0 && (contacts | contactsFilter: query).length == 0">
                There are no matches to your search criteria.
                </span>
                </table>

            </div>
        </div>
    </div>
</div>
<eums-contact></eums-contact>
<ng-include src="'/static/app/views/contacts/partials/delete-contact-modal.html'"></ng-include>

</div>
