<div class="container-fluid">
    <div class="content">
        <h4 class="page-header">Contacts</h4>
        <ng-toast></ng-toast>

        <button id="add-contact" class="btn btn-primary" ng-click="showAddContact()">Add Contact</button>
        <div class="panel panel-default line-order-panel">
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text"
                               id="filter"
                               class="form-control"
                               name="filter"
                               ng-model="query"
                               placeholder="Search by first name, last name or phone"/>
                    </div>
                </div>
            </div>
            <span class="well-sm"></span>

            <div class="table-wrapper">
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <thead ng-init="initialize()">
                    <tr>
                        <th>
                            <a ng-click="sortBy('firstName')"> First Name <i
                                    ng-class="sortArrowClass('firstName')"></i></a>
                        </th>
                        <th>
                            <a ng-click="sortBy('lastName')">Last Name
                                <i ng-class="sortArrowClass('lastName');"></i>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortBy('phone')">Phone
                                <i ng-class="sortArrowClass('phone')"></i>
                            </a>
                        </th>
                        <th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="contact in contacts | contactsFilter: query | orderBy: sort.criteria:!sort.descending  track by contact._id">
                        <td>{{ contact.firstName }}</td>
                        <td>{{ contact.lastName }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>
                            <button class="btn btn-primary"
                                    ng-click="showEditContact(contact)">
                                Edit
                            </button>
                            <button class="btn btn-primary"
                                    ng-click="showDeleteContact(contact)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <si-table-pagination limit="15" indices="3"/>
                        </td>
                    </tr>
                    </tfoot>
                <span class="information message"
                      ng-show="contacts.length > 0 && (contacts | contactsFilter: query).length == 0">
                There are no matches to your search criteria.
                </span>
                </table>

            </div>
        </div>
    </div>
</div>

<ng-include src="'/static/app/views/contacts/partials/delete-contact-modal.html'"></ng-include>
<ng-include src="'/static/app/views/contacts/partials/add-contact-modal.html'"></ng-include>
<ng-include src="'/static/app/views/contacts/partials/edit-contact-modal.html'"></ng-include>

</div>