<div class="modal fade" id="confirmation-modal">
    <div class="modal-dialog">
        <div class="modal-content col-md-offset-3 col-md-10">
            <div class="modal-header">
                <h4 class="modal-title"><span class="text-warning glyphicon glyphicon-plus glyphicon-warning-sign"></span>
                    Confirmation
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">No</span></button>
                </h4>

            </div>
            <div class="modal-body">
                <div>Please note that by saving, you will no longer be able to reverse the switch between Single IP and Multiple IP delivery.<br />
                    Are you sure you would like to proceed?</div>
            </div>
            <div class="modal-footer">
                <button id="deliveryConfirmYes" type="button" class="btn btn-primary"
                        ng-click="warningAccepted()">Yes</button>
                &nbsp;&nbsp;
                <button id="deliveryConfirmNo" type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>