<div>
    <span id="error-msg">{{ errorMessage }}</span>

    <div class="input-group">
        <span class="input-group-addon">First Name</span>
        <input type="text" ng-model="contact.firstName" class="form-control" placeholder="First Name">
    </div>
    <br/><br/>

    <div class="input-group">
        <span class="input-group-addon">Last Name</span>
        <input type="text" ng-model="contact.lastName" class="form-control" placeholder="Last Name">
    </div>
    <br/><br/>

    <div class="input-group">
        <span class="input-group-addon">Phone</span>
        <input type="text" ng-model="contact.phone" class="form-control" placeholder="Phone">
    </div>
    <br/><br/>
    <button id="add-contact" type="button" ng-click="addContact()" class="btn btn-primary">Add</button>
</div>
