html, body {
    padding-top: 40px;
    height: 100%;
    width: 100%;
}

tbody {
    height: 50px;
    overflow: auto;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date] {
    width: 100px;
    height: 80%;
    font-size: 10px;
}

.table-select {
    width: 80px;
}

.input-phone-number {
    width: 100px;
}

.input-quantity {
    width: 40px;
}

.sales-order-information {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.glyphicon-plus.pull-right {
    padding-left: 5px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

.container {
    width: 100%;
}

.line-order-panel {
    padding: 8px;
    margin-top: 6px;
}

.form-elements {
    margin-bottom: 10px;
}

a, #distribution-plan-nav {
    cursor: pointer;
}

.disabled-icon .pin:after {
    background-color: #CCC;
    background-image: radial-gradient(25% 25%, circle, hsla(0, 0%, 100%, .2), hsla(0, 0%, 0%, .2));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1),
    inset .2em .2em .2em hsla(0, 0%, 100%, .2),
    inset -.2em -.2em .2em hsla(0, 0%, 0%, .2),
    0.65em 0.9em .25em hsla(0, 0%, 0%, .15);
    content: '';
    height: .6em;
    left: -.25em;
    position: absolute;
    top: -.6em;
    width: .6em;
}

.pin {
    background-color: #9A999B;
    background-image: linear-gradient(left, hsla(0, 0%, 100%, .2), hsla(0, 0%, 0%, .2));
    display: block;
    height: 1em;
    left: 34%;
    position: absolute;
    top: -63%;
    width: .1em;
}

.pin span {
    background-color: #D5D5D5;
    background-image: radial-gradient(25% 25%, circle, hsla(0, 0%, 100%, .2), hsla(0, 0%, 0%, .2));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1),
    inset .2em .2em .2em hsla(0, 0%, 100%, .2),
    inset -.2em -.2em .2em hsla(0, 0%, 0%, .2);
    content: '';
    height: .6em;
    left: -0.25em;
    position: absolute;
    top: -.6em;
    width: .6em;
}

.pin:before {
    /*background-color: hsla(0,0%,0%,.1);*/
    box-shadow: 0 0 .25em hsla(0, 0%, 0%, .1);
    content: '';
    height: 0.5em;
    left: 0;
    position: absolute;
    top: .5em;
    transform: rotate(57.5deg);
    transform-origin: 40% 100%;
    width: .1em;
}

.filter-panel .close-panel {
    font-size: 14px;
    color: #fff;
    /*float: right;*/
    background-color: black;
    opacity: 1;
    padding: 5px 8px;
    cursor: pointer;
    text-align: center;
}

.close-panel:hover {
    background-color: rgba(0, 0, 0, 0.32);
}

#right-hand-panel {
    position: relative;
    float: right;
    width: 100%;
    border-left: 1px solid #AAA;
    height: 95%;
    -webkit-box-shadow: 0px 2px 16px #000;
    -moz-box-shadow: 0px 2px 16px #000;
    box-shadow: 0px 2px 16px #000;
}

.panel-title {
    font-size: inherit;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-heading {
    padding: 4px 6px;
}

.panel-body {
    padding: 6px;
}

.panel {
    border-bottom: none;
}

.panel-title a {
    display: block;
}

.detail-panel {
    border-top: 1px solid #666;
    background-color: rgba(27, 27, 27, 0.55);
    width: 100%;
    float: left;
    color: black;
    padding-left: 360px;
}

.detail-panel h3 {
    color: black;

}

.breadcrumb-section {
    padding-top: 5px;
    position: absolute;
    height: 40px;
    width: 100%;
    cursor: pointer;
    top: 0px;
    z-index: 0;
    text-align: center;
}

.filters-section {
    height: 100%;
    overflow: auto;
}

.filters-container {
    height: 100%;
    padding-top: 14px;
}

.tab-pane.active {
    padding: 12px 0px;
}

.filter-panel {
    z-index: 1000;
    position: absolute;
    width: 274px;
    height: inherit;
    background: #909090;
    opacity: 0.9;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

#summary-panel {
    float: right;
    width: 300px;
    height: 97%;
    z-index: 1000;
    position: absolute;
    right: 0;
    background-color: transparent;
}

.navbar-second {
    top: 50px;
    background-color: #848383;
    opacity: 0.9;
    min-height: 40px;
    border-bottom: 3px solid black;
}

.navbar-second .container {
    padding-left: 0px;
}

.navbar-second .navbar-nav > li > a {
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container-content {
    padding-top: 10px;
}

.white {
    color: white !important;
}

.pad-left-5 {
    padding-left: 5px;
}

.full-page {
    height: 100%
}

.select2-container {
    width: 100% !important;
}

#stats-panel {
    position: absolute;
    bottom: 23px;
    right: 15px;
    z-index: 1000;
    width: 200px;
}

#stats-header {
    padding: 2px 12px;
    background-color: rgba(0, 0, 0, 0.79);
    color: white;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -web-kit-border-radius: 2px 2px 0 0;
    font-weight: bold;
    text-align: center;
}

.leaflet-control-zoom {
    left: 265px;
    top: -9px;
}

.addZoomControl {
    left: 265px;
    top: -9px;
}