@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v14/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

* {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#user {
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    margin-right: 10px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#user-icon {
    margin-top: 15px;
}

html, body {
    padding-top: 40px;
    height: 100%;
    width: 100%;
}

h4.page-header {
    color: #1CABE2;
    margin: 20px 0px 20px;
}

.text-primary {
    color: #036E97;
    font-size: 16px;
}

#login-body {
    background-color: white;
}

.login-row {
    margin: 150px 0 2px 0;
    background: #1CABE2;
    color: white;
    border-radius: 3px;
    border: 1px solid white;
    padding: 20px;
}

.login-form {
    margin-left: 20px;
}

.btn-primary {
    background-color: #1CABE2;
    border-color: #05A0DB;
}

.btn-primary:hover {
    background-color: #05A0DB;
    border-color: #036F98;
}

#btn-login {
    background-color: #1CABE2;
    border: 1px solid white;
    color: white;
}

#login-logo img {
    margin: 75px 0 0 60px;
}

#login-form-container{
    border-left: 1px solid white;
}

table tbody {
    height: 50px;
    overflow: auto;
}

table thead tr {
    background-color: #6FC9EB;
}

table thead tr th:hover {
    background-color: #05A0DB;
}

table thead a {
    color: white;
}

table thead a:hover {
    color: white;
    text-decoration: underline;
}

table tbody tr:nth-child(even) {
    background-color: #E3F4FB;
}

table tbody tr:nth-child(odd) {
    background-color: #E3F4FB;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #9BDCF5;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date] {
    width: 100px;
    height: 80%;
    font-size: 10px;
}

a {
    color: #1CABE2;
}

a:hover {
    color: #05A0DB;
}

.table-select {
    width: 80px;
}

.input-phone-number {
    width: 100px;
}

.input-quantity {
    width: 40px;
}

.sales-order-information {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.glyphicon-plus.pull-right {
    padding-left: 5px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

.container {
    width: 100%;
}

.line-order-panel {
    padding: 8px;
    margin-top: 6px;
}

.form-elements {
    margin-bottom: 10px;
}

a, #distribution-plan-nav {
    cursor: pointer;
}

.disabled-icon .pin:after {
    background-color: #CCC;
    background-image: radial-gradient(25% 25%, circle, hsla(0, 0%, 100%, .2), hsla(0, 0%, 0%, .2));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1),
    inset .2em .2em .2em hsla(0, 0%, 100%, .2),
    inset -.2em -.2em .2em hsla(0, 0%, 0%, .2),
    0.65em 0.9em .25em hsla(0, 0%, 0%, .15);
    content: '';
    height: .6em;
    left: -.25em;
    position: absolute;
    top: -.6em;
    width: .6em;
}

.pin {
    background-color: #9A999B;
    background-image: linear-gradient(left, hsla(0, 0%, 100%, .2), hsla(0, 0%, 0%, .2));
    display: block;
    height: 1em;
    left: 34%;
    position: absolute;
    top: -63%;
    width: .1em;
}

.pin span {
    background-color: #D5D5D5;
    background-image: radial-gradient(25% 25%, circle, hsla(0, 0%, 100%, .2), hsla(0, 0%, 0%, .2));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1),
    inset .2em .2em .2em hsla(0, 0%, 100%, .2),
    inset -.2em -.2em .2em hsla(0, 0%, 0%, .2);
    content: '';
    height: .6em;
    left: -0.25em;
    position: absolute;
    top: -.6em;
    width: .6em;
}

.pin:before {
    box-shadow: 0 0 .25em hsla(0, 0%, 0%, .1);
    content: '';
    height: 0.5em;
    left: 0;
    position: absolute;
    top: .5em;
    transform: rotate(57.5deg);
    transform-origin: 40% 100%;
    width: .1em;
}

.filter-panel {
    z-index: 1000;
    position: absolute;
    width: 274px;
    height: inherit;
    background: white;
    border: 1px solid #eee;
    opacity: 0.9;
}

.filter-panel .close-panel {
    font-size: 14px;
    color: white;
    background-color: #43B9E6;
    opacity: 1;
    padding: 5px 8px;
    cursor: pointer;
    text-align: center;
}

.close-panel:hover {
    background-color: rgba(0, 0, 0, 0.32);
}

#right-hand-panel {
    position: relative;
    float: right;
    width: 100%;
    border-left: 1px solid #AAA;
    height: 95%;
    -webkit-box-shadow: 0px 2px 16px #000;
    -moz-box-shadow: 0px 2px 16px #000;
    box-shadow: 0px 2px 16px #000;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-heading {
    padding: 4px 6px;
}

.panel-body {
    padding: 6px;
}

.panel {
    border-bottom: none;
}

.panel-title {
    font-size: inherit;
}

.panel-title a {
    display: block;
}

.panel-header {
    background-color: rgba(0, 0, 0, 0.79);
    color: white;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -web-kit-border-radius: 2px 2px 0 0;
    font-weight: bold;
    text-align: center;
}

.detail-panel {
    border-top: 1px solid #666;
    background-color: rgba(27, 27, 27, 0.55);
    width: 100%;
    float: left;
    color: black;
    padding-left: 360px;
}

.detail-panel h3 {
    color: black;

}

.breadcrumb-section {
    padding-top: 5px;
    position: absolute;
    height: 40px;
    width: 100%;
    cursor: pointer;
    top: 0px;
    z-index: 0;
    text-align: center;
}

#filters-form {
    padding: 12px;
}

.filters-section {
    height: 100%;
    overflow: auto;
}

.filters-container {
    height: 100%;
    padding-top: 14px;
}

.tab-pane.active {
    padding: 12px 0px;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

#summary-panel {
    float: right;
    width: 300px;
    height: 97%;
    z-index: 1000;
    position: absolute;
    right: 0;
    background-color: transparent;
}

.nav-pills > li > a {
    background-color: #6FC9EB;
    color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #1CABE2;
}

.navbar {
    background-color: #1CABE2;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: white;
    color: #05A0DB;
    margin-left: -1px;
}

.nav li a {
    color: white;
}

.nav li a:hover {
    color: white;
    background-color: #05A0DB;
}

.navbar-second {
    top: 50px;
    background-color: #E3F4FB;
    min-height: 20px;
    border-bottom: 1px solid #05A0DB;
    opacity: 0.9;
}

.navbar-second .container {
    padding-left: 1px;
}

.navbar-second .navbar-nav li a {
    color: #036E97;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-second .navbar-nav li a:hover {
    color: #05A0DB;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container-content {
    padding-top: 10px;
}

.white {
    color: white !important;
}

.pad-left-5 {
    padding-left: 5px;
}

.full-page {
    height: 100%
}

.select2-container {
    width: 100% !important;
}

#marker-summary {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 280px;
}

#stats-panel {
    position: absolute;
    bottom: 23px;
    right: 15px;
    width: 240px;
    opacity: 0.9;
}

#stats-panel .panel-header, #stats-panel li.list-group-item {
    border-radius: 0 0 0 0;
}

.panel-header {
    background-color: #1CABE2;
    color: white;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -web-kit-border-radius: 2px 2px 0 0;
    font-weight: bold;
    text-align: center;
}

.alert-info {
    color: white;
    background-color: #43B9E6;
}

.pad-20{
    padding: 20px;
}

.no-side-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.no-side-padding ul{
    margin-bottom: 0px;
}

.leaflet-control-zoom {
    left: 265px;
    top: -9px;
}

.addZoomControl {
    left: 265px;
    top: -9px;
}

#materialItems{
    margin-right: 20px;
    padding: 10px;
}

.disabled {
    background-color: dimgray;
}

.select2-container.form-control {
    background: transparent;
    border: none;
    display: block;
    /* 1 */
    margin: 0;
    padding: 0;
}

.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice,
.select2-container .select2-choices {
    background: none;
    padding: 0;
    border-color: #cccccc;
    border-radius: 4px;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-search input {
    border-color: #cccccc;
    border-radius: 4px;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-container .select2-choices .select2-search-field input {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container .select2-choice {
    height: 34px;
    line-height: 1.42857;
}

.select2-container.select2-container-multi.form-control {
    height: auto;
}

.select2-container.input-sm .select2-choice,
.input-group-sm .select2-container .select2-choice {
    height: 30px;
    line-height: 1.5;
    border-radius: 3px;
}

.select2-container.input-lg .select2-choice,
.input-group-lg .select2-container .select2-choice {
    height: 46px;
    line-height: 1.33;
    border-radius: 6px;
}

.select2-container-multi .select2-choices .select2-search-field input {
    height: 32px;
}

.select2-container-multi.input-sm .select2-choices .select2-search-field input,
.input-group-sm .select2-container-multi .select2-choices .select2-search-field input {
    height: 28px;
}

.select2-container-multi.input-lg .select2-choices .select2-search-field input,
.input-group-lg .select2-container-multi .select2-choices .select2-search-field input {
    height: 44px;
}

.select2-container-multi .select2-choices .select2-search-field input {
    margin: 0;
}

.select2-chosen,
.select2-choice > span:first-child,
.select2-container .select2-choices .select2-search-field input {
    padding: 6px 12px;
}

.input-sm .select2-chosen,
.input-group-sm .select2-chosen,
.input-sm .select2-choice > span:first-child,
.input-group-sm .select2-choice > span:first-child,
.input-sm .select2-choices .select2-search-field input,
.input-group-sm .select2-choices .select2-search-field input {
    padding: 5px 10px;
}

.input-lg .select2-chosen,
.input-group-lg .select2-chosen,
.input-lg .select2-choice > span:first-child,
.input-group-lg .select2-choice > span:first-child,
.input-lg .select2-choices .select2-search-field input,
.input-group-lg .select2-choices .select2-search-field input {
    padding: 10px 16px;
}

.select2-container-multi .select2-choices .select2-search-choice {
    margin-top: 5px;
    margin-bottom: 3px;
}

.select2-container-multi.input-sm .select2-choices .select2-search-choice,
.input-group-sm .select2-container-multi .select2-choices .select2-search-choice {
    margin-top: 3px;
    margin-bottom: 2px;
}

.select2-container-multi.input-lg .select2-choices .select2-search-choice,
.input-group-lg .select2-container-multi .select2-choices .select2-search-choice {
    line-height: 24px;
}

.select2-container .select2-choice .select2-arrow,
.select2-container .select2-choice div {
    border-left: 1px solid #cccccc;
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.select2-dropdown-open .select2-choice .select2-arrow,
.select2-dropdown-open .select2-choice div {
    border-left-color: transparent;
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.select2-container .select2-choice .select2-arrow b,
.select2-container .select2-choice div b {
    background-position: 0 3px;
}

.select2-dropdown-open .select2-choice .select2-arrow b,
.select2-dropdown-open .select2-choice div b {
    background-position: -18px 3px;
}

.select2-container.input-sm .select2-choice .select2-arrow b,
.input-group-sm .select2-container .select2-choice .select2-arrow b,
.select2-container.input-sm .select2-choice div b,
.input-group-sm .select2-container .select2-choice div b {
    background-position: 0 1px;
}

.select2-dropdown-open.input-sm .select2-choice .select2-arrow b,
.input-group-sm .select2-dropdown-open .select2-choice .select2-arrow b,
.select2-dropdown-open.input-sm .select2-choice div b,
.input-group-sm .select2-dropdown-open .select2-choice div b {
    background-position: -18px 1px;
}

.select2-container.input-lg .select2-choice .select2-arrow b,
.input-group-lg .select2-container .select2-choice .select2-arrow b,
.select2-container.input-lg .select2-choice div b,
.input-group-lg .select2-container .select2-choice div b {
    background-position: 0 9px;
}

.select2-dropdown-open.input-lg .select2-choice .select2-arrow b,
.input-group-lg .select2-dropdown-open .select2-choice .select2-arrow b,
.select2-dropdown-open.input-lg .select2-choice div b,
.input-group-lg .select2-dropdown-open .select2-choice div b {
    background-position: -18px 9px;
}

.has-warning .select2-choice,
.has-warning .select2-choices {
    border-color: #8a6d3b;
}
.has-warning .select2-container-active .select2-choice,
.has-warning .select2-container-multi.select2-container-active .select2-choices {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning.select2-drop-active {
    border-color: #66512c;
}
.has-warning.select2-drop-active.select2-drop.select2-drop-above {
    border-top-color: #66512c;
}

.has-error .select2-choice,
.has-error .select2-choices {
    border-color: #a94442;
}
.has-error .select2-container-active .select2-choice,
.has-error .select2-container-multi.select2-container-active .select2-choices {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error.select2-drop-active {
    border-color: #843534;
}
.has-error.select2-drop-active.select2-drop.select2-drop-above {
    border-top-color: #843534;
}

.has-success .select2-choice,
.has-success .select2-choices {
    border-color: #3c763d;
}
.has-success .select2-container-active .select2-choice,
.has-success .select2-container-multi.select2-container-active .select2-choices {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success.select2-drop-active {
    border-color: #2b542c;
}
.has-success.select2-drop-active.select2-drop.select2-drop-above {
    border-top-color: #2b542c;
}

.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
    border-color: #1CABE2;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 160, 219, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 160, 219, 0.6);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.select2-drop-active {
    border-color: #1CABE2;
}

.select2-drop-auto-width,
.select2-drop.select2-drop-above.select2-drop-active {
    border-top-color: #1CABE2;
}

.input-group.select2-bootstrap-prepend [class^="select2-choice"] {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.input-group.select2-bootstrap-append [class^="select2-choice"] {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.select2-dropdown-open [class^="select2-choice"] {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.input-group.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.input-group.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.input-group.input-group-sm.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
    border-bottom-right-radius: 3px !important;
}
.input-group.input-group-lg.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
    border-bottom-right-radius: 6px !important;
}
.input-group.input-group-sm.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
    border-bottom-left-radius: 3px !important;
}
.input-group.input-group-lg.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
    border-bottom-left-radius: 6px !important;
}

.select2-results .select2-highlighted {
    color: white;
    background-color: #44B9E6;
}

.select2-bootstrap-append .select2-container-multiple,
.select2-bootstrap-append .input-group-btn,
.select2-bootstrap-append .input-group-btn .btn,
.select2-bootstrap-prepend .select2-container-multiple,
.select2-bootstrap-prepend .input-group-btn,
.select2-bootstrap-prepend .input-group-btn .btn {
    vertical-align: top;
}

.select2-container-multi .select2-choices .select2-search-choice {
    color: #555555;
    background: white;
    border-color: #cccccc;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #ebebeb;
    border-color: #adadad;
    color: #333333;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-search-choice-close {
    margin-top: -7px;
    top: 50%;
}

.select2-container .select2-choice abbr {
    top: 50%;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.select2-container.select2-container-disabled .select2-choice,
.select2-container.select2-container-disabled .select2-choices {
    cursor: not-allowed;
    background-color: #eeeeee;
    border-color: #cccccc;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow,
.select2-container.select2-container-disabled .select2-choice div,
.select2-container.select2-container-disabled .select2-choices .select2-arrow,
.select2-container.select2-container-disabled .select2-choices div {
    background-color: transparent;
    border-left: 1px solid transparent;
}

.select2-search input.select2-active,
.select2-container-multi .select2-choices .select2-search-field input.select2-active,
.select2-more-results.select2-active {
    background-position: 99%;
    background-position: right 4px center;
}

.select2-offscreen,
.select2-offscreen:focus {
    width: 1px !important;
    height: 1px !important;
    position: absolute !important;
}