<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/"><img src="/static/app/media/unicef-logo-white.png" class="navbar-brand"><span
                    class="navbar-brand white">Supply End User Monitoring System</span></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><span id="user-icon" class="glyphicon glyphicon-user white"><span id="user">{{ user }}</span></span>
            <li>
            <li><a href="{% url "logout" %}">Logout</a>
            <li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-top navbar-second" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav navbar-left" ng-controller="NavigationTabsController">
            <li id="home-nav">
                <a href="/">Dashboard</a>
                {% block nav %}
                {% endblock %}
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if perms.auth.can_view_users %}
                <li><a href="/users">Users</a></li>
            {% endif %}
            <li><a href="">Settings</a></li>
            <li><a href="">Help</a></li>
            <li>
                <a href="">
                    <span class="glyphicon glyphicon-globe"></span>
                    <span class="pad-left-5">Uganda</span>
                    <span class="caret"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
