<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>SEUMS</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/vendor.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/app.min.css">
    <link rel="icon" href="{{ STATIC_URL }}app/media/favicon.ico">
</head>

<body>
{% load generic_tags %}
{% include "base/header.html" %}

<div class="container-content full-page ng-scope">
    <div class="container-fluid">
        <div class="content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags | bootstrap_message }}">
                        <ul>
                            {{ message }}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% include "base/loading.html" %}

{% block javascripts %}
{% endblock %}
</body>
</html>
