<div class="modal fade" ng-show="activeDelivery" id="ip-acknowledgement-modal">
    <div class="modal-dialog">
        <div class="modal-content col-md-10">
            <div class="modal-header">
                <h4 class="modal-title">
                    Confirm delivery: {{ activeDelivery.number}}
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">No</span>
                    </button>
                </h4>

            </div>
            <div class="modal-body">
                <div class="text-warning pad-bottom-5">Items will only appear in your stock upon confirmation of
                    delivery
                </div>

                <div ng-show=" hasReceivedDelivery" class="pad-top-20">
                    <table>
                        <tr ng-repeat="answer in answers" id="answer-{{ answer.position }}">
                            <td class="pad-5">{{answer.text}}</td>
                            <td class="pad-5">
                                <span ng-if="answer.type == 'multipleChoice'">
                                    <select ng-model="answer.value"
                                            required="required"
                                            class="form-control select-dropdown"
                                            ng-options="option for option in answers[0].options ">
                                        <option value="">Select item</option>
                                    </select>
                                </span>
                                <span ng-if="answer.type == 'text' && answer.question_label != 'dateOfReceipt'
                                   && answer.question_label != 'additionalDeliveryComments'">
                                    <input type="text" ng-model="answer.value"
                                           required="required"
                                           class="form-control">
                                    </input>
                                </span>

                                <span ng-if="answer.type == 'text' && answer.question_label == 'additionalDeliveryComments'">
                                    <textarea rows="2" ng-model="answer.value"
                                              required="required"
                                              class="form-control">
                                    </textarea>
                                </span>

                                <p class="table-date-width input-group"
                                   ng-if="answer.question_label == 'dateOfReceipt'" eums-date-picker>
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd/MM/yyyy"
                                           ng-model="answer.value"
                                           ng-required="true"
                                           is-open="datepicker[$index]"
                                           datepicker-options="dateOptions" show-button-bar="false"
                                           value="{{ answer.value | date : 'dd/MM/yyyy' }}"
                                           required="required"/>
                                          <span class="input-group-btn">

                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, $index )">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                </p>
                            </td>
                        </tr>
                    </table>


                </div>

                <div ng-hide="hasReceivedDelivery" class="pad-top-20">
                    <table>
                        <tr>
                            <td class="pad-10">{{answers[0].text}}</td>
                            <td>
                                <span>
                                    <select ng-model="answers[0].value"
                                            required="required"
                                            class="form-control"
                                            ng-options="option for option in answers[0].options ">
                                        <option value="">Select item</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                    </table>

                    <div class="margin-top-20 pad-top-10 table-bordered border-radius-10"
                         ng-show="!hasReceivedDelivery && isValidChoice">
                        <div class="centered">
                            <span class="text-warning glyphicon glyphicon-plus glyphicon-warning-sign font-size-x-large"></span>
                        </div>
                        <div class="pad-10 text-muted">
                            UNICEF will be notified that you have not received this shipment
                            and get back to you at the earliest opportunity.
                            You will still be able to come back and confirm once you have received the shipment.
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">

                <button id="deliveryConfirmCancel"
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    Cancel
                </button>
                &nbsp;&nbsp;
                <button id="deliveryConfirmNo"
                        ng-hide="hasReceivedDelivery"
                        type="button"
                        ng-disabled="!isValidChoice"
                        class="btn btn-primary"
                        ng-click="saveAnswers()">
                    Confirm
                </button>

                <button id="deliveryConfirmYes"
                        ng-show="hasReceivedDelivery"
                        type="button"
                        ng-disabled="!isValidChoice"
                        class="btn btn-primary"
                        ng-click="saveAnswers()">
                    Proceed to Confirm Items
                </button>

            </div>
        </div>
    </div>
</div>