<div class="container-fluid">
    <div class="eums page-header">Delivery</div>
    <div class="content margin-bottom-50">
        <ul class="nav nav-pills" style="margin-top: 1em;" ng-controller="NavigationTabsController">
            <li role="presentation" ng-class="{active : isActive('/direct-delivery')}">
                <a href="#/direct-delivery" class="btn btn-default blue-border-button">Direct Delivery</a>
            </li>
            <li role="presentation" ng-class="{active : isActive('/warehouse-delivery')}">
                <a href="#/warehouse-delivery" class="btn btn-default blue-border-button">Warehouse Delivery</a>
            </li>
            <li class="pull-right active">
                <a ng-click="exportToCSV()" class="btn btn-default blue-border-button"><i class="glyphicon glyphicon-log-out"></i> Export to CSV</a>
            </li>
        </ul>
    </div>
</div>