<div class="container-fluid">
    <div class="content">
        <ul class="nav nav-pills" style="margin-top: 30px; margin-bottom: 20px">
            <li ng-class="{active: currentDocumentType === 'PO'}" ng-click="toggleDocumentType('PO')"><a href="">Purchase Orders</a></li>
            <li ng-class="{active: currentDocumentType === 'WB'}" ng-click="toggleDocumentType('WB')"><a href="">Waybills</a></li>
        </ul>
        <div class="panel panel-default line-order-panel">
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text"
                               id="filter"
                               class="form-control"
                               name="filter"
                               ng-model="query"
                               placeholder="Search by doc number, date or programme"/>
                    </div>
                </div>
            </div>
            <span class="well-sm"></span>

            <div class="table-wrapper">
                <table class="table table-bordered table-hover table-striped">
                    <thead ng-init="initialize()">
                    <tr>
                        <th style="width: 20%">
                            <a ng-if="currentDocumentType === 'PO'" ng-click="sortBy('doc_number')">Purchase Order
                                <i ng-class="sortArrowClass('doc_number')"></i></a>
                            <a ng-if="currentDocumentType === 'WB'" ng-click="sortBy('doc_number')">Waybill
                                <i ng-class="sortArrowClass('doc_number')"></i></a>
                        </th>
                        <th style="width: 30%">
                            <a ng-click="sortBy('date')">Date Created
                                <i ng-class="sortArrowClass('date');"></i>
                            </a>
                        </th>
                        <th style="width: 50%">
                            <a ng-click="sortBy('programme')">Programme
                                <i ng-class="sortArrowClass('programme')"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="document in documents | documentFilter: query | orderBy: sort.criteria:!sort.descending">
                        <td data-header="Document Number">
                            <a ng-click="selectDocument(document)">{{ document.doc_number }}</a>
                        </td>
                        <td data-header="Date Created">
                            {{ document.date }}
                        </td>
                        <td data-header="Programme">
                            {{ document.programme }}
                        </td>
                    </tr>
                    </tbody>
                <span class="information message alert-info"
                      ng-show="documents.length > 0 && (documents | documentFilter: query).length == 0">
                There are no matches to your search criteria.
                </span>
                </table>
            </div>
        </div>
    </div>
</div>

