<div class="container-fluid">
    <div class="content">
        <h4 class="page-header">Field Verification</h4>
        <ul class="nav nav-pills" style="margin-top: 30px; margin-bottom: 20px">
            <li ng-class="{active: currentDocumentType === 'PO'}" ng-click="toggleDocumentType('PO')"><a href="">Purchase
                Orders</a></li>
            <li ng-class="{active: currentDocumentType === 'WB'}" ng-click="toggleDocumentType('WB')"><a href="">Waybills</a>
            </li>
        </ul>
        <div class="panel panel-default line-order-panel">

            <div class="row">
                <div class="col-xs-2 pull-right">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text"
                               id="dateFilter"
                               class="form-control"
                               name="dateFilter"
                               ng-model="dateQuery"
                               placeholder="Date (yyyy-MM-dd)"/>
                    </div>
                </div>
                <div class="col-xs-3 pull-right">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text"
                               id="filter"
                               class="form-control"
                               name="filter"
                               ng-model="query"
                               placeholder="{{placeHolderText}}"/>
                    </div>
                </div>
            </div>

            <span class="well-sm"></span>

            <div class="table-wrapper">
                <table si-table class="table table-bordered table-hover table-striped table-condensed">
                    <thead ng-init="initialize()">
                    <tr>
                        <th class="centered" style="width: 20%">
                            <a ng-if="currentDocumentType === 'PO'" ng-click="sortBy('orderNumber')">Purchase Order
                                <i ng-class="sortArrowClass('orderNumber')"></i></a>
                            <a ng-if="currentDocumentType === 'WB'" ng-click="sortBy('orderNumber')">Waybill
                                <i ng-class="sortArrowClass('orderNumber')"></i></a>
                        </th>
                        <th class="centered" style="width: 30%">
                            <a ng-click="sortBy('date')">Date Created
                                <i ng-class="sortArrowClass('date');"></i>
                            </a>
                        </th>
                        <th class="col-xs-6">
                            <a ng-click="sortBy('programme')">Programme
                                <i ng-class="sortArrowClass('programme')"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="document in documents | orderFilter: query:dateQuery:searchFields | orderBy: sort.criteria:!sort.descending">
                        <td data-header="Document Number">
                            <a ng-click="selectDocument(document)">{{ document.orderNumber }}</a>
                        </td>
                        <td data-header="Date Created">
                            {{ document.date }}
                        </td>
                        <td data-header="Programme" class="text-left">
                            {{ document.programme }}
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <si-table-pagination limit="15" indices="3"/>
                        </td>
                    </tr>
                    </tfoot>

                    <span class="information message"
                          ng-show="documents.length > 0 && (documents | orderFilter: query:dateQuery:searchFields).length == 0">
                There are no matches to your search criteria.
                </span>
                    <span class="information message" ng-show="documents.length == 0">There are no records right now.</span>
                </table>
            </div>
        </div>
    </div>
</div>

