<ng-toast></ng-toast>
<div class="content full-page">
    <a default-view class="view-thumbnail"><img type="image/svg+xml" src="/static/app/media/map_zoom_out.svg"/></a>

    <div id="map" class="full-page" map>
        <map-filter></map-filter>
        <div class="map-legend-panel ng-cloak">
            <form role='form'>
                <div class="map-summary-header centered">
                    <span class="sub-header title">Delivery Status</span>
                    <span ng-click="deliveryStatusCollapsed=!deliveryStatusCollapsed" class="marker-summary-arrow"
                          ng-class="{ 'expanded': !deliveryStatusCollapsed, 'collapsed': deliveryStatusCollapsed }"></span>
                </div>

                <div ng-hide="deliveryStatusCollapsed" id='map-legend-content'>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked ng-model="deliveryStatus.mapNotReceived"/> Mostly not
                            received
                        </label>
                        <span>
                            <svg height="15" width="15" class="svg-map-legend-item" xmlns="http://www.w3.org/2000/svg"
                                 version="1.1">
                                <rect height="15" width="15" class="leaflet-clickable" fill="map-not-received"/>
                            </svg>
                        </span>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked ng-change="updateReceivedDeliveryStatus()"
                                   ng-model="tmp.mapReceivedAll"/> Mostly
                            received
                        </label>
                    </div>
                    <div class="checkbox map-legend-item-child">
                        <label>
                            <input type="checkbox" checked ng-change="updateAllReceived()"
                                   ng-model="deliveryStatus.mapReceived"/> without issues
                        </label>
                        <span>
                            <svg height="15" width="15" class="svg-map-legend-item" xmlns="http://www.w3.org/2000/svg"
                                 version="1.1">
                                <rect height="15" width="15" class="leaflet-clickable" fill="map-received"/>
                            </svg>
                        </span>
                    </div>
                    <div class="checkbox map-legend-item-child">
                        <label>
                            <input type="checkbox" checked ng-change="updateAllReceived()"
                                   ng-model="deliveryStatus.mapReceivedWithIssues"/> with issues
                        </label>
                        <span>
                            <svg height="15" width="15" class="svg-map-legend-item" xmlns="http://www.w3.org/2000/svg"
                                 version="1.1">
                                <rect height="15" width="15" class="leaflet-clickable show-svg-border"
                                      fill="map-received-with-issues"/>
                            </svg>
                        </span>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked ng-model="deliveryStatus.mapNonResponse"/> Mostly unknown
                        </label>
                        <span>
                            <svg height="15" width="15" class="svg-map-legend-item" xmlns="http://www.w3.org/2000/svg"
                                 version="1.1">
                                <rect height="15" width="15" class="leaflet-clickable show-svg-border"
                                      fill="map-non-response"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div id="summary-panel" class="ng-cloak panel panel-default well well-sm">

            <div map-summary consigneeDetails></div>

            <div id="district-stats">

                <div class="district-stats-header"
                     ng-show="data.totalStats.location">{{ data.totalStats.location }}</div>
                <div class="district-stats-header" ng-show="!data.totalStats.location">All Districts</div>

                <div id="district-stats-left-side">

                    <div class="district-stats-subheader">
                        <ul class="list-unstyled">
                            <li class="stats-subheader-bold-grey stats-large-number-font">
                                {{ data.totalStats.totalValueOfDeliveries | compactCurrency }}
                            </li>
                            <li class="stats-subheader-blue">Total supplies sent</li>
                            <li class="stats-text-grey"
                                ng-show="data.totalStats.totalNumberOfDeliveries!=1">{{ data.totalStats.totalNumberOfDeliveries }}
                                deliveries
                            </li>
                            <li class="stats-text-grey"
                                ng-show="data.totalStats.totalNumberOfDeliveries==1">{{ data.totalStats.totalNumberOfDeliveries }}
                                delivery
                            </li>
                        </ul>
                    </div>

                    <div class="district-stats-left-section">
                        <div class="pull-left">
                            <div>Received</div>
                            <div>
                                <percent-display
                                        percent="data.totalStats.percentageValueOfSuccessfulDeliveries | number:0"
                                        side="50"
                                        colors="white #1CABE2">
                                </percent-display>
                            </div>
                        </div>
                        <div class="district-stats-amount-responses pull-left">
                            <ul class="list-unstyled">
                                <li class="stats-large-number-font">
                                    <span class="stats-currency-symbol">$</span>
                                    <span class="stats-currency-value">
                                        {{ data.totalStats.totalValueOfSuccessfulDeliveries | compactNumber }}
                                    </span>
                                </li>
                                <li class="stats-text-grey">
                                    {{ data.totalStats.numberOfSuccessfulProductDeliveries }} response<span
                                        ng-hide="data.totalStats.numberOfSuccessfulProductDeliveries==1">s</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="district-stats-left-section">
                        <div class="pull-left">
                            <div>Not received</div>
                            <div>
                                <percent-display
                                        percent="data.totalStats.percentageValueOfUnsuccessfulDeliveries | number:0"
                                        side="50"
                                        colors="white #D9534F">
                                </percent-display>
                            </div>
                        </div>
                        <div class="district-stats-amount-responses pull-left">
                            <ul class="list-unstyled">
                                <li class="stats-large-number-font">
                                    <span class="stats-currency-symbol">$</span>
                                    <span class="stats-currency-value">
                                        {{ data.totalStats.totalValueOfUnsuccessfulProductDeliveries | compactNumber }}
                                    </span>
                                </li>
                                <li class="stats-text-grey">
                                    {{ data.totalStats.numberOfUnsuccessfulProductDeliveries }} response<span
                                        ng-hide="data.totalStats.numberOfUnsuccessfulProductDeliveries==1">s</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="district-stats-left-section">
                        <div class="pull-left">
                            <div>No response</div>
                            <div>
                                <percent-display
                                        percent="data.totalStats.percentageValueOfNonResponseToProductReceived | number:0"
                                        side="50"
                                        colors="white #7d7d7d">
                                </percent-display>
                            </div>
                        </div>
                        <div class="district-stats-amount-responses pull-left">
                            <ul class="list-unstyled">
                                <li class="stats-large-number-font">
                                    <span class="stats-currency-symbol">$</span>
                                    <span class="stats-currency-value">
                                        {{ data.totalStats.totalValueOfNonResponseToProductReceived | compactNumber }}
                                    </span>
                                </li>
                                <li class="stats-text-grey">
                                    {{ data.totalStats.numberOfNonResponseToProductReceived }} non-response<span
                                        ng-hide="data.totalStats.numberOfNonResponseToProductReceived==1">s</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="district-stats-left-section"
                         ng-show="data.totalStats.numberOfAwaitingResponseToProductReceived">
                        <div class="pull-left">Awaiting response</div>
                        <div class="pull-left">
                            <div>
                                <percent-display
                                        percent="data.totalStats.percentageValueOfAwaitingResponseToProductReceived | number:0"
                                        side="60"
                                        colors="white #7d7d7d">
                                </percent-display>
                            </div>
                        </div>
                        <div class="district-stats-amount-responses pull-left">
                            <ul class="list-unstyled">
                                <li class="stats-large-number-font">
                                    <span class="stats-currency-symbol">$</span>
                                    <span class="stats-currency-value">
                                        {{ data.totalStats.totalValueOfAwaitingResponseToProductReceived | compactNumber }}
                                    </span>
                                </li>
                                <li class="stats-text-grey">
                                    {{ data.totalStats.numberOfAwaitingResponseToProductReceived }} awaiting
                                    response<span
                                        ng-hide="data.totalStats.numberOfAwaitingResponseToProductReceived==1">s</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="district-stats-arrow"></div>

                <div id="district-stats-right-side">

                    <div class="district-stats-subheader">
                        <ul class="list-unstyled">
                            <li class="stats-subheader-bold-grey stats-large-number-font">
                                {{ data.totalStats.totalValueOfSuccessfulDeliveries | compactCurrency }}
                            </li>
                            <li class="stats-subheader-blue">Total supplies received</li>
                            <li class="stats-text-grey"
                                ng-show="data.totalStats.numberOfSuccessfulProductDeliveries!=1">
                                {{ data.totalStats.numberOfSuccessfulProductDeliveries }} deliveries
                            </li>
                            <li class="stats-text-grey"
                                ng-show="data.totalStats.numberOfSuccessfulProductDeliveries==1">
                                {{ data.totalStats.numberOfSuccessfulProductDeliveries }} delivery
                            </li>
                        </ul>
                    </div>

                    <div id="district-stats-right-side-lower-section">

                        <div class="district-stats-detailed-section-label">Delivery Condition</div>

                        <div class="district-stats-detailed-section">
                            <div class="district-stats-detailed-section-slice pull-left">
                                <div>In Good Order</div>
                                <div class="percentage-graphic">
                                    <percent-display
                                            percent="data.totalStats.percentageValueOfDeliveriesInGoodOrder | number:0"
                                            side="40"
                                            colors="white #1CABE2">
                                    </percent-display>
                                </div>
                                <div class="stats-med-number-font">
                                    {{ data.totalStats.totalValueOfDeliveriesInGoodOrder | compactCurrency }}
                                </div>
                            </div>
                            <div class="district-stats-detailed-section-slice pull-left">
                                <div>In Bad Order</div>
                                <div class="percentage-graphic">
                                    <percent-display
                                            percent="data.totalStats.percentageValueOfDeliveriesInBadOrder | number:0"
                                            side="40"
                                            colors="white #D9534F">
                                    </percent-display>
                                </div>
                                <div class="stats-med-number-font">
                                    {{ data.totalStats.totalValueOfDeliveriesInBadOrder | compactCurrency }}
                                </div>
                            </div>
                            <div class="district-stats-detailed-section-slice pull-left">
                                <div>No response</div>
                                <div class="percentage-graphic">
                                    <percent-display
                                            percent="data.totalStats.percentageValueOfNonResponseToQualityOfProduct | number:0"
                                            side="40"
                                            colors="white #7d7d7d">
                                    </percent-display>
                                </div>
                                <div class="stats-med-number-font">
                                    {{ data.totalStats.totalValueOfNonResponseToQualityOfProduct | compactCurrency }}
                                </div>
                            </div>
                        </div>

                        <div class="district-stats-detailed-section-label">Delivery Satisfaction</div>
                        <div class="district-stats-detailed-section">
                            <div class="district-stats-detailed-section-slice pull-left">
                                <div>Satisfied</div>
                                <div class="percentage-graphic">
                                    <percent-display
                                            percent="data.totalStats.percentageValueOfSatisfactoryDeliveries | number:0"
                                            side="40"
                                            colors="white #1CABE2">
                                    </percent-display>
                                </div>
                                <div class="stats-med-number-font">
                                    {{ data.totalStats.totalValueOfSatisfactoryDeliveries | compactCurrency }}
                                </div>
                            </div>
                            <div class="district-stats-detailed-section-slice pull-left">
                                <div>Not satisfied</div>
                                <div class="percentage-graphic">
                                    <percent-display
                                            percent="data.totalStats.percentageValueOfUnsatisfactoryDeliveries | number:0"
                                            side="40"
                                            colors="white #D9534F">
                                    </percent-display>
                                </div>
                                <div class="stats-med-number-font">
                                    {{ data.totalStats.totalValueOfUnsatisfactoryDeliveries | compactCurrency }}
                                </div>
                            </div>
                            <div class="district-stats-detailed-section-slice pull-left">
                                <div>No response</div>
                                <div class="percentage-graphic">
                                    <percent-display
                                            percent="data.totalStats.percentageValueOfNonResponseToSatisfactionWithProduct | number:0"
                                            side="40"
                                            colors="white #7d7d7d">
                                    </percent-display>
                                </div>
                                <div class="stats-med-number-font">
                                    {{ data.totalStats.totalValueOfNonResponseToSatisfactionWithProduct | compactCurrency }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <pattern id="map-hatch-pattern" patternUnits="userSpaceOnUse" x="0" y="0" width="10" height="10">
                        <g id="leaflet-map-received-with-issues">
                            <path d="M0,0 l10,10"/>
                            <path d="M10,0 l-10,10"/>
                        </g>
                    </pattern>
                </defs>
            </svg>
        </div>
    </div>
</div>
