<div class="content full-page">
    <div id="map" class="full-page" map>
        <div panel panel-expand='{"bottom":"0px"}' panel-collapse='{"bottom":"-96%"}'
             class='filter-panel expanded dt-panel ng-cloak' id="filter-panel">
            <div class="close-panel">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <map-filter filters></map-filter>
        </div>

        <div id="summary-panel" class="ng-cloak panel panel-default well well-sm">

            <div map-summary consigneeDetails></div>
            <div id="stats-panel">
                <div class="panel-header">UNICEF Delivery Status for {{ data.totalStats.location }}</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge alert-info">{{ data.totalStats.totalSent }}</span>
                        Total Responses
                    </li>
                    <li class="list-group-item">
                        <span class="badge alert-info">{{ data.totalStats.totalReceived }}</span>
                        Total Received
                    </li>
                    <li class="list-group-item">
                        <span class="badge alert-info">{{ data.totalStats.totalNotReceived }}</span>
                        Total Not Received
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
