<div class="container-fluid">
    <div class="content">
        <ng-toast></ng-toast>
        <h4 class="page-header" ng-show="!distributionPlanReport">Report Delivery for Waybill:
            <span class="text-primary">{{ selectedReleaseOrder.waybill }}</span>
            <span class="pull-right">PCR:
                <span class="text-primary">{{ selectedReleaseOrder.programmeName }}</span>
            </span>
        </h4>
        <div ng-show="selectedReleaseOrderItem">
            <alert ng-show="parentNode.quantityLeft(deliveryNodes) <= 0" type="warning">
                All quantities have been assigned for this item.
            </alert>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group col-lg-4">
                    <div class="col-lg-12">
                        <label for="select-release-order" class="col-lg-4 control-label description-label">
                            Item Description:
                        </label>

                        <div class="col-lg-8">
                            <select id="select-release-order" ng-model="selectedReleaseOrderItem" required="required"
                                    class="form-control" ng-change="selectReleaseOrderItem(selectedReleaseOrderItem)"
                                    ng-options="releaseOrderItem.item.description for releaseOrderItem in releaseOrderItems | orderBy: 'item.description'">
                                <option value="">Select Item</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--<div class="form-group col-lg-4" ng-show="planNode && !consigneeLevel">-->
                <!--<div class="sub_header_padding">-->
                <!--<span class="sub-header">Add Sub-Consignee:</span> <span-->
                <!--class="text-muted">{{ planNode.consignee.name }}</span>-->
                <!--</div>-->
                <!--<div class="sub_header_padding">-->
                <!--<button type="button" class="btn btn-default btn-sm blue-border-button"-->
                <!--ng-click="previousConsignee(planNode)">-->
                <!--<span class="glyphicon glyphicon-share-alt flip-horizontal"></span>-->
                <!--Back to Consignee-->
                <!--</button>-->
                <!--</div>-->
                <!--</div>-->
            </div>

            <div ng-show="selectedReleaseOrderItem" class="material-items well col-lg-7 pull-right">
                <div class="col-lg-6 no-side-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="label label-success label-as-badge">{{ selectedReleaseOrderItem.item.materialCode }}</span>
                            Material Code
                        </li>
                        <li class="list-group-item">
                            <span class="label label-success label-as-badge">{{ selectedReleaseOrderItem.item.description }}</span>
                            Item Description
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 no-side-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="label label-success label-as-badge">{{ getTotalQuantity() }}</span>
                            Total Quantity
                        </li>
                        <li class="list-group-item">
                            <span class="label label-success label-as-badge">{{ selectedReleaseOrderItem.item.unit.name }}</span>
                            Unit
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="releaseOrderItems.length && selectedReleaseOrderItem" class="panel panel-default">
            <div class="panel-body">
                <div ng-show="deliveryNodes.length">
                    <table id="distributionPlanTable"
                           class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                        <tr>
                            <th class="table-header-width" id="input-available-quantity-header">Balance</th>
                            <th class="table-header-width" id="input-header">Unit</th>
                            <th id="input-quantity-header">Delivered Qty</th>
                            <th id="input-planned-distribution-date-header">Date Delivered</th>
                            <th class="table-contact-header-width">Sub-Consignee</th>
                            <th class="table-contact-select-header-width">Contact Person</th>
                            <th class="table-select-header-width">District</th>
                            <th class="table-header-width">End User</th>
                            <th class="table-sub-consignee-header-width"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="node in deliveryNodes">
                            <td id="input-available-quantity">
                                {{ parentNode ? parentNode.quantityLeft(deliveryNodes) : node.quantityLeft() }}
                            </td>
                            <td id="input-unit">{{ selectedReleaseOrderItem.item.unit.name }}</td>
                            <td><input type="text" id="input-quantity" class="form-control"
                                       ng-disabled="node.flowTriggered"
                                       ng-model="node.targetedQuantity" only-digits>
                            </td>
                            <td>
                                <p class="table-date-width input-group" eums-date-picker>
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd/MM/yyyy"
                                           ng-model="node.plannedDistributionDate"
                                           ng-disabled="node.flowTriggered"
                                           is-open="datepicker[$index]"
                                           datepicker-options="dateOptions" show-button-bar="false"
                                           ng-required="true"
                                           value="{{ node.plannedDistributionDate = (node.plannedDistributionDate | date: 'yyyy-MM-dd') }}"
                                           required="required"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event, $index)"
                                                ng-disabled="node.flowTriggered">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </td>
                            <td class="table-select-max-width">
                                <div class="form-inline">
                                    <div class="form-group table-contact-form-group col-md-10">
                                        <input type="hidden" search-consignees
                                               ng-model="node.consignee.id" ng-if="consignees.length"
                                               ng-disabled="node.flowTriggered"
                                               value="{{ node.consignee.id }}">
                                    </div>
                                    <div class="form-group table-contact-form-group col-md-2">
                                        <button type="button" class="btn btn-default "
                                                ng-click="addConsignee(node, $index)" ng-disabled="node.flowTriggered">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>

                            <td class="table-select-max-width">
                                <div class="form-inline">
                                    <div class="form-group table-contact-form-group col-md-10">
                                        <input type="hidden" search-contacts required="required"
                                               value="{{ node.contactPerson.id }}" ng-model="node.contactPerson.id"
                                               ng-attr-id="{{ 'contact-select-for-node-' + $index }}"
                                               ng-disabled="node.flowTriggered">
                                    </div>
                                    <div class="form-group table-contact-form-group col-md-2">
                                        <button type="button" class="btn btn-default "
                                                ng-click="addContact(node, $index)" ng-disabled="node.flowTriggered">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>

                            <td class="table-select-max-width">
                                <input type="hidden" search-from-list list="{{ districts }}"
                                       ng-model="node.location"
                                       ng-disabled="node.flowTriggered"
                                       value="{{ node.location }}">
                            </td>
                            <td>
                                <div class="text-center">
                                    <input type="checkbox" class="end-user-checkbox"
                                           value="{{ node.isEndUser }}"
                                           ng-model="node.isEndUser"
                                           ng-disabled="node.flowTriggered || node.hasSubConsignees()">
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <button class="btn {{ node.canReceiveSubConsignees() ? 'btn-primary' : 'btn-default'}}"
                                            ng-disabled="!node.canReceiveSubConsignees()" title="Consignees"
                                            ng-click="toSubConsigneeView(node)">Sub-Consignees
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>
            <div class="pad-20 row">
                <button ng-show="parentNode.quantityLeft(deliveryNodes) > 0"
                        type="button" class="btn btn-primary" ng-click="addDeliveryNode()">
                    <i class="glyphicon glyphicon-plus"> </i>Add Sub-Consignee
                </button>
                <div ng-show="deliveryNodes.length" class="pull-right">
                    <button type="button" class="btn btn-primary"
                            ng-click="saveDeliveryNodes(deliveryNodes)"
                            ng-disabled="invalidNodes()">
                        <i class="glyphicon glyphicon-floppy-save"> </i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="AddContactController">
        <ng-include src="'/static/app/views/contacts/partials/add-contact-modal.html'"></ng-include>
    </div>
    <ng-include src="'/static/app/views/distribution-planning/partials/add-remark-modal.html'"></ng-include>
</div>
