<!DOCTYPE HTML>
<html ng-app>
<head>
    <title>SEUMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/app.css">
</head>

<body id="password-reset-body">
<div class="container col-md-offset-1">
    <div class="row password-reset-row col-md-10">
        <div class="col-md-5" id="password-reset-logo">
            <img src="/static/app/media/unicef-logo-white.png">
        </div>
        <div class="col-md-7" id="password-reset-form-container">
            <div id="password-reset-welcome" class="col-md-11 col-sm-offset-1 center">
                <h3>Supply End User Monitoring System Password Reset Successful!</h3>
            </div>

            <div class="col-sm-offset-2">
                <p>
                    We've emailed you instructions for setting your password. You should be receiving them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                </p>
            </div>

            <div class="col-sm-offset-1 col-sm-11 text-center">
                <a href="/login" class="btn btn-default">Back to Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
