<!DOCTYPE HTML>
<html ng-app>
<head>
    <title>SEUMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/app.css">
    <link rel="icon" href="{{ STATIC_URL }}app/media/favicon.ico">
</head>

<body id="password-change-body">
<div class="container col-md-offset-1">
    <div class="row password-change-row col-md-10">
        <div class="col-md-5" id="password-change-logo">
            <img src="/static/app/media/unicef-logo-white.png">
        </div>
        <div class="col-md-7" id="password-change-form-container">
            <div id="password-change-welcome" class="col-md-11 col-sm-offset-1 center">
                <h3>Supply End User Monitoring System Password Change Successful!</h3>
            </div>

            <div class="col-sm-offset-1 col-sm-11 text-center pad-20">
                <p>
                    Your password was changed.
                </p>
            </div>

            <div class="col-sm-offset-1 col-sm-11 text-center">
                <a href="/" class="btn btn-default btn-back">Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
