<div class="container-fluid">
    <div class="eums page-header">Your Alerts</div>
    <div class="content alerts-subheader">
        Here you will find alerts from consignees and end-users that require a response from you
    </div>
</div>

<div class="container-fluid alerts-container">
    <div class="alert-row" ng-repeat="alert in alerts">
        <span class="alerts-grey">{{ alert.createdOn | date: 'dd-MM-yyyy' }}</span>
        <span class="alerts-bolder">{{ alert.contactName }}</span>
        reported <span class="alerts-bolder">{{ alert.orderTypeDisplayName }} {{ alert.orderNumber }}</span>
        sent to <span class="alerts-bolder">{{ alert.consigneeName }}</span>
        as <span class="alerts-issue">{{ alert.issueDisplayName }}</span>
    </div>
</div>