<div class="container-fluid">
    <div class="eums page-header">Your Alerts</div>
    <div class="content">
        <ul class="nav nav-pills" style="margin-top: 1em;">
            <li role="presentation" id="delivery-alerts-button"
                ng-class="{active : isActiveAlertType(constant_type_delivery)}">
                <a class="btn blue-border-button btn-xs" ng-click="changeAlertType(constant_type_delivery)">Alerts
                    by Delivery</a>
            </li>
            <li role="presentation" id="item-alerts-button" class="pad-left-10"
                ng-class="{active : isActiveAlertType(constant_type_item)}">
                <a class="btn blue-border-button btn-xs" ng-click="changeAlertType(constant_type_item)">Alerts
                    by Item</a>
            </li>
            <li role="presentation" id="distribution-alerts-button" class="pad-left-10"
                ng-class="{active : isActiveAlertType(constant_type_distribution)}">
                <a class="btn blue-border-button btn-xs" ng-click="changeAlertType(constant_type_distribution)">Alerts
                    by Distribution</a>
            </li>
        </ul>
    </div>
    <div class="content alerts-sub-header" ng-hide="alerts.length">
        There are currently no alerts.
    </div>
</div>

<ng-toast></ng-toast>

<div class="container-fluid alerts-container">
    <div class="table-wrapper">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr ng-show="alerts">
                <th class="centered"
                    ng-hide="isActiveAlertType(constant_type_distribution)">
                    <a ng-click="sortBy('status')">STATUS<i
                            ng-class="sortArrowClass('status');"></i></a>
                </th>
                <th class="centered">
                    <a ng-click="sortBy('alertDate')">
                        {{ isActiveAlertType(constant_type_distribution) ? "DISTRIBUTION DEADLINE" : "ALERT DATE" }}<i
                            ng-class="sortArrowClass('alertDate');"></i></a>
                </th>
                <th class="centered">PO/WAYBILL</th>
                <th class="centered"><a ng-click="sortBy('dateShipped')">DATE
                    SHIPPED<i ng-class="sortArrowClass('dateShipped');"></i></a></th>
                <th class="centered" ng-if="isActiveAlertType(constant_type_distribution)">
                    <a ng-click="sortBy('dateReceived')">DATE RECEIVED<i ng-class="sortArrowClass('dateReceived');"></i></a>
                </th>
                <th class="centered" ng-if="isActiveAlertType(constant_type_item)">QTY</th>
                <th class="centered">
                    <a ng-click="sortBy('value')">VALUE<i ng-class="sortArrowClass('value');"></i></a>
                </th>
                <th ng-if="isActiveAlertType(constant_type_item)">ITEM</th>
                <th>REPORTED BY</th>
                <th>IMPLEMENTING PARTNER</th>
                <th>{{ systemSettings.district_label }}</th>
                <th>UNICEF REMARKS</th>
                <th ng-show="can_change"></th>
                <th ng-show="can_change && isRetriggerColumnAvailable() && !isActiveAlertType(constant_type_distribution)"></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="($index, alert) in alerts">
                <td ng-hide="isActiveAlertType(constant_type_distribution)">
                    <span class="{{ alert.issue }} alerts-issue">{{ alert.issueDisplayName }}</span>
                </td>
                <td>
                    <span class="">{{ alert.createdOn | date: 'dd-MMM-yyyy' }}</span>
                </td>
                <td>
                    <span class="">{{ alert.orderNumber }}</span>
                </td>
                <td>
                    <span class="">{{ alert.dateShipped | date: 'dd-MMM-yyyy' }}</span>
                </td>
                <td ng-if="isActiveAlertType(constant_type_distribution)">
                    <span class="">{{ alert.dateReceived | date: 'dd-MMM-yyyy' }}</span>
                </td>
                <td class="text-left pad-10" ng-if="isActiveAlertType(constant_type_item)">
                    <span class="">{{ alert.quantityDelivered }}</span>
                </td>
                <td>
                    <span class="">{{ alert.totalValue | currency }}</span>
                </td>
                <td class="text-left pad-10" ng-if="isActiveAlertType(constant_type_item)">
                    <span class="">{{ alert.itemDescription }}</span>
                </td>
                <td class="text-left">
                    <div>{{ alert.contact.contactName }}</div>
                    <div>{{ alert.contact.contactPhone }}</div>
                </td>
                <td class="text-left pad-10">
                    <span class="">{{ alert.consigneeName }}</span>
                </td>
                <td class="text-left pad-10">
                    <span class="">{{ alert.location }}</span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-comment glyphicon-comment-color
                                 glyphicon-size-17 glyphicon-top-5" ng-click="remark($index)"></span>
                    <div class="modal fade text-left" id="resolve-alert-modal-{{$index}}">
                        <div class="modal-dialog modal-sixty-percent-size">
                            <div class="modal-content col-md-offset-3 col-md-6">
                                <div class="modal-header">
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal">
                                        <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="eums-modal-header">Remark</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="text-warning pad-bottom-5">
                                        Here you can add comments on any action taken to address the alert
                                    </div>
                                    <form role="form">
                                        <div class="form-group">
                                            <textarea class="form-control"
                                                      ng-disabled="!can_change"
                                                      ng-model="alert.remarks"
                                                      required rows="6">
                                            </textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer centered">
                                    <button type="button"
                                            class="btn btn-default bg-grey text-white"
                                            data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove-sign margin-right-5"></span>{{ can_change ? 'Cancel' : 'Close' }}
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary"
                                            ng-show="can_change"
                                            ng-disabled="!alert.remarks"
                                            ng-click="resolveAlert(alert.id, alert.remarks, alert.isResolved)"
                                            data-dismiss="modal">
                                        <span class="glyphicon glyphicon-ok-sign margin-right-5"></span>Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td ng-show="can_change">
                    <button class="btn btn-primary btn-sm resolve-alert-button"
                            ng-if="!alert.isResolved"
                            type="button"
                            ng-click="setResolve($index)">Resolve
                    </button>
                    <button class="btn btn-primary btn-sm resolve-alert-button"
                            ng-if="alert.isResolved"
                            type="button"
                            disabled>Resolved
                    </button>
                    <div class="modal fade text-left" id="resolve-confirm-modal-{{$index}}">
                        <div class="modal-dialog modal-sixty-percent-size">
                            <div class="modal-content col-md-offset-3 col-md-6">
                                <div class="modal-header">
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal">
                                        <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="eums-modal-header">Please confirm alert has been resolved</h4>
                                </div>
                                <div class="modal-footer centered">
                                    <button type="button"
                                            class="btn btn-default bg-grey text-white"
                                            data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>
                                        Cancel
                                    </button>

                                    <button type="button"
                                            class="btn btn-primary resolve"
                                            ng-click="resolveAlert(alert.id, alert.remarks, true)"
                                            data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span>
                                        Resolve
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td ng-show="can_change && isRetriggerColumnAvailable() && !isActiveAlertType(constant_type_distribution)">
                    <button class="btn btn-primary btn-sm retrigger-btn"
                            type="button"
                            ng-if="isRetriggerBtnAvailable(alert)"
                            ng-disabled="alert.isRetriggered"
                            ng-click="retriggerDelivery(alert.runnableId)"
                            ng-bind="alert.isRetriggered ? 'Retriggered' : 'Retrigger'">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="centered" ng-show="alerts.length">
            <pagination total-items="count" ng-model="currentPage" boundary-links="true"
                        ng-change="goToPage(currentPage)" max-size="5" rotate="false"
                        items-per-page="pageSize">
            </pagination>
        </div>
    </div>
</div>
