<div class="container-fluid">
    <div class="eums page-header">Your Alerts</div>
    <div class="content alerts-sub-header" ng-show="alerts.length">
        Here you will find alerts from consignees and end-users that require a response from you
    </div>
    <div class="content">
        <ul class="nav nav-pills" style="margin-top: 1em;">
            <li role="presentation" id="delivery-alerts-button" ng-class="{active : isActiveAlertType('delivery')}">
                <a class="btn btn-default blue-border-button btn-xs" ng-click="changeAlertType('delivery')">Alerts for
                    Deliveries</a>
            </li>
            <li role="presentation" id="item-alerts-button" ng-class="{active :  isActiveAlertType('item')}">
                <a class="btn btn-default blue-border-button btn-xs" ng-click="changeAlertType('item')">Alerts for
                    Items</a>
            </li>
        </ul>
    </div>
    <div class="content alerts-sub-header" ng-hide="alerts.length">
        There are currently no alerts.
    </div>
</div>

<ng-toast></ng-toast>

<div class="container-fluid alerts-container">
    <div class="table-wrapper">
        <table si-table class="table table-bordered table-hover table-striped table-condensed">
            <thead ng-init="initialize()">
            <tr ng-show="alerts">
                <th>STATUS</th>
                <th>ALERT DATE</th>
                <th>PO/WAYBILL</th>
                <th>DATE SHIPPED</th>
                <th>VALUE</th>
                <th ng-hide="isActiveAlertType('delivery')">ITEM</th>
                <th>REPORTED BY</th>
                <th>IMPLEMENTING PARTNER</th>
                <th>DISTRICT</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="($index, alert) in alerts | orderBy:isResolved">
                <td>
                    <span class="{{ alert.issue }} alerts-issue">{{ alert.issueDisplayName }}</span>
                </td>
                <td>
                    <span class="alerts-bolder">{{ alert.createdOn | date: 'dd-MM-yyyy' }}</span>
                </td>
                <td>
                    <span class="alerts-bolder">{{ alert.orderNumber }}</span>
                </td>
                <td>
                    <span class="alerts-bolder">{{ alert.dateShipped | date: 'dd-MM-yyyy' }}</span>
                </td>
                <td>
                    <span class="alerts-bolder">{{ alert.totalValue | currency }}</span>
                </td>
                <td class="text-left pad-left-15" ng-hide="isActiveAlertType('delivery')">
                    <span class="alerts-bolder">{{ alert.itemDescription }}</span>
                </td>
                <td class="text-left pad-left-15">
                    <span class="alerts-bolder">{{ alert.contactName }}</span>
                </td>
                <td class="text-left pad-left-15">
                    <span class="alerts-bolder">{{ alert.consigneeName }}</span>
                </td>
                <td class="text-left pad-left-15">
                    <span class="alerts-bolder">{{ alert.location }}</span>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm resolve-alert-button"
                            ng-if="!alert.isResolved"
                            type="button"
                            ng-click="addRemark($index)">
                        Resolve
                    </button>

                    <a id="resolved-alert-link-{{$index}}"
                            ng-if="alert.isResolved"
                            ng-click="showRemark($index)">
                        View Resolution
                    </a>

                    <div class="modal fade text-left" id="resolved-alert-modal-{{$index}}">
                        <div class="modal-dialog modal-sixty-percent-size">
                            <div class="modal-content col-md-offset-3 col-md-6">
                                <div class="modal-header">
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal">
                                        <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="eums-modal-header">Alert Resolution</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="text-warning pad-bottom-5">The following action was taken to resolve
                                        this Alert.
                                    </div>
                                    <div class="eums-modal-content">
                                        {{ alert.remarks }}
                                    </div>
                                </div>
                                <div class="modal-footer centered">
                                    <button type="button"
                                            class="btn btn-primary"
                                            data-dismiss="modal"><span
                                            class='glyphicon glyphicon-ok-sign text-white'></span> OK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade text-left" id="resolve-alert-modal-{{$index}}">
                        <div class="modal-dialog modal-sixty-percent-size">
                            <div class="modal-content col-md-offset-3 col-md-6">
                                <div class="modal-header">
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal">
                                        <span aria-hidden="true" class="glyphicon glyphicon-remove-sign text-"></span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="eums-modal-header">Resolve Alert</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="text-warning pad-bottom-5">Please make notes of any actions taken.
                                    </div>
                                    <form role="form">
                                        <div class="form-group">
                                <textarea class="form-control"
                                          ng-model="alert.remarks"
                                          required rows="6">
                                </textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-default bg-grey text-white"
                                            data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>
                                        Cancel
                                    </button>

                                    <button type="button"
                                            class="btn btn-primary"
                                            ng-disabled="!alert.remarks"
                                            ng-click="resolveAlert(alert.id, alert.remarks)"
                                            data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Mark
                                        as resolved
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="centered" ng-show="alerts.length">
            <pagination total-items="count" ng-model="currentPage" boundary-links="true"
                        ng-change="goToPage(currentPage)" max-size="5" rotate="false"
                        items-per-page="pageSize">
            </pagination>
        </div>
    </div>
</div>