{% extends 'base/layout.html' %}

{% block content %}
{% load pagination_tags %}
{% load generic_tags %}

<div class="table-responsive">
    <div class="col-md-8">
        <h1>Users List</h1>
    </div>

    <a href="{% url 'create_user_page' %}" class="btn btn-default btn-lg  pull-right" id="add-new-user">
        <span class="cyan"><i class="glyphicon glyphicon-plus-sign"></i> Add user</span></a>
    <br/>
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.groups.all | display_list}}</td>
            <td>
                {% if user.is_active %}
                Active
                {% else %}
                Inactive
                {% endif %}
            </td>
            <td><a href="{% url 'edit_user' user.id %}" class="btn btn-sm btn-default"> <span
                    class="glyphicon glyphicon-pencil"></span> Edit</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate %}
</div>
{% endblock %}