<!DOCTYPE HTML>
<html>
<head>
    <title>SEUMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/application.css" type="text/css" media="all">
    {% block extra_css %}{% endblock %}
    <!--[if IE 8]>
          <script src="{{ STATIC_URL }}html5shiv/html5shiv.js"></script>
          <script src="{{ STATIC_URL }}Respond/respond.min.js"></script>
    <![endif]-->
</head>
<body class="eums-form">
<div class="container">
    <div class="row">
        <div class="col-md-4 logo">
            <img src="{{ STATIC_URL }}img/unicef_logo_white.png">
        </div>
        <div class="col-md-8" id="form-container">
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            <h3>Welcome to the Electronic Joint Reporting Form</h3>
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissable">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% if not form.errors %}
            {% endif %}
                <h4>Enter your credentials to login</h4>
                {% csrf_token %}
                <p>
                <label class="control-label" for="username">Username</label>
                <input type="text" name="username">
                </p>
                <p>
                <label class="control-label" for="inputPassword">Password</label>
                <input type="password" name="password">
                </p>
                <button class="btn-form" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>