<div class="container-fluid">
    <div class="eums page-header" style="height: 60px">
        <div class="pull-left">Item: MAMA KITS, DELIVERY KITS</div>
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="#/ip-deliveries" class="btn btn-default blue-border-button btn-md"><span class="glyphicon glyphicon-share-alt flip-horizontal"></span>&nbsp;Back to Warehouse</a>
                </li>
            </ul>
        </div>
    </div>
</div>