<ng-toast></ng-toast>
<div class="container-fluid">
    <div class="eums page-header row">
        <div class="pull-left pad-top-10">View Distributions for Item</div>
        <div class="pull-right">
            <a href="#/ip-items" class="btn blue-border-button">
                <span class="glyphicon glyphicon-share-alt flip-horizontal"></span>
                Back to Previous
            </a>
        </div>
    </div>

    <div class="col-lg-12 row-padding">
        <div class="col-lg-4 no-side-padding align-left">
            <div class="sub-header">ITEM DETAILS</div>
            <div class="rounded-border">
                <table class="item-details-table">
                    <tr id="itemNameLabel">
                        <td class="bold-label">Item Name:</td>
                        <td><span class="label label-success item-quantity-label">{{ item.description }}</span></td>
                    </tr>
                    <tr id="qty-available-label">
                        <td class="bold-label">Quantity Available:</td>
                        <td><span class="label label-success item-quantity-label">{{ quantityAvailable }}</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-8 no-side-padding">
            <div class="align-right pad-top-100" ng-show="quantityAvailable && can_add_distributionplan_node">
                <a id="create-new-delivery" href="#/deliveries-by-ip/{{ item.id }}/new" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Report New Distribution
                </a>
            </div>
        </div>
    </div>

    <div class="well-sm"></div>

    <div class="row" ng-hide="!deliveryNodes.length && !searchTerm.length">
        <div class="col-xs-4 pull-right">
            <div class="inner-addon right-addon">
                <i class="glyphicon blue-unicef"
                   ng-class="{'glyphicon-cog glyphicon-spin': searching, 'glyphicon-search': !searching}"></i>
                <input type="text" id="filter" class="form-control" ng-model="searchTerm"
                       placeholder="Search by Consignee, {{ systemSettings.district_label }} or Date in format 'YYYY-MM-DD'"/>
                <span class="text-warning" ng-show="searchTerm.length && !deliveryNodes.length">
                    There are no matches to your search criteria.
                </span>
            </div>
        </div>
    </div>
    <div class="well-sm"></div>

    <div ng-if="deliveryNodes.length">
        <table si-table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th class="left-aligned">Qty Shipped</th>
                <th class="left-aligned">Date Shipped</th>
                <th class="left-aligned">Consignee</th>
                <th class="left-aligned">Contact Person</th>
                <th class="left-aligned">{{ systemSettings.district_label }}</th>
                <th class="left-aligned">IP Notes</th>
                <th class="left-aligned"></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="($index, node) in deliveryNodes">
                <td class="centered v-align-middle">{{ $index + 1 }}</td>
                <td class="left-aligned">{{ node.quantityIn }}</td>
                <td class="left-aligned">{{ node.deliveryDate | date: 'dd-MMM-yyyy' }}</td>
                <td class="left-aligned">{{ node.consigneeName }}</td>
                <td ng-if="node.contactPerson" class="left-aligned">
                    {{ node.contactPerson.firstName }} {{ node.contactPerson.lastName }}
                </td>
                <td ng-if="!node.contactPerson" class="left-aligned">Contact Not Found</td>
                <td class="left-aligned">{{ node.location }}</td>
                <td class="align-center">
                    <span ng-if="node.additionalRemarks" class="glyphicon glyphicon-comment glyphicon-comment-color
                                        glyphicon-size-17 glyphicon-top-5"
                          ng-click="showAdditionalRemarks(node.additionalRemarks)"></span>
                </td>
                <td class="table-row-input-column subconsignee-column">
                    <a href="#/deliveries-by-ip/{{ itemId }}/{{ node.id }}/new"
                       class="btn btn-sm btn-primary" ng-hide="node.isEndUser">
                        Sub-consignees
                    </a>
                    <span ng-show="node.isEndUser">End User</span>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8" class="centered">
                    <pagination total-items="count" ng-model="currentPage" boundary-links="true"
                                ng-change="goToPage(currentPage)" max-size="5" rotate="false"
                                items-per-page="pageSize">
                    </pagination>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-lg-12 row-padding" ng-show="!deliveryNodes.length && !searchTerm.length">
        <div class="no-items-div">
            <span class="glyphicon glyphicon-warning-sign font-size-large text-warning"></span>&nbsp;You have not
            reported any deliveries for this item. Please click the button above to start reporting deliveries to
            sub-consignees.
        </div>
    </div>
    <ng-include src="'/static/app/views/delivery/partials/additional-remarks-dialog.html'"></ng-include>
</div>