<ng-toast></ng-toast>
<div class="container-fluid">
    <div class="eums page-header row">
        <div class="pull-left pad-top-10">Item: {{ item.description }}</div>
        <div class="pull-right">
            <a href="#/ip-items" class="btn blue-border-button">
                <span class="glyphicon glyphicon-share-alt flip-horizontal"></span>
                Back to My Warehouse
            </a>
        </div>
    </div>

    <div class="row pad-15">
        <div class="pull-left">
            <a href="#/deliveries-by-ip/{{ item.id }}/new" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                New Delivery Report
            </a>
        </div>
        <div class="pull-right pad-top-10">
            <span class="pad-right-5 item-quantity-label">Quantity Available</span>
            <span class="label label-success item-quantity-label">{{ quantityAvailable }}</span>
        </div>
    </div>

    <span class="well-sm"></span>

    <ng-include src="'/static/app/views/delivery/ip-delivery/partials/deliveries-by-ip-list.html'"></ng-include>
</div>