<div class="container-fluid">
    <div class="eums page-header">Itemized Confirmation for {{activeDelivery.type}} {{activeDelivery.number}}</div>
</div>

<div>
    <table si-table class="table table-bordered table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th class="left-aligned">Item Description</th>
            <th class="left-aligned">Qty Shipped</th>
            <th class="left-aligned">Item Received</th>
            <th class="left-aligned">Qty Received</th>
            <th class="left-aligned">Condition</th>
            <th class="left-aligned">Satisfied</th>
            <th class="left-aligned">Remarks</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="($index, node) in combinedDeliveryNodes">
            <td class="centered v-align-middle">{{ $index + 1 }}</td>
            <td class="v-align-middle">{{ node.item.item.description }}</td>
            <td class="v-align-middle">{{ node.quantityIn }}</td>
            <td class="v-align-middle">
                <select data-ng-model="node.answers[0].value"
                        required="required"
                        class="form-control"
                        ng-options="option for option in node.answers[0].options ">
                    <option>Select</option>
                </select>
            </td>
            <td class="v-align-middle">
                <input type="text"
                       data-ng-model="node.answers[1].value"/>
            </td>
            <td class="v-align-middle">
                <select data-ng-model="node.answers[2].value"
                        required="required"
                        class="form-control"
                        ng-options="option for option in node.answers[2].options ">
                    <option>Select</option>
                </select>
            </td>
            <td class="v-align-middle">
                <select data-ng-model="node.answers[3].value"
                        required="required"
                        class="form-control"
                        ng-options="option for option in node.answers[3].options ">
                    <option>Select</option>
                </select>
            </td>
            <td class="v-align-middle"></td>

        </tr>
        </tbody>

    </table>
</div>
<div class="pull-right">
    <button id="saveBtn"
            type="button"
            class="btn btn-primary"
            ng-disabled="!areValidAnswers"
            ng-click="saveAnswers()">
        <i class="glyphicon glyphicon-floppy-save"> </i>
        Save & Confirm
    </button>
</div>