<div class="container-fluid">
    <div class="eums page-header">Item: {{}}</div>

    <div class="row">
        <div class="col-xs-4 pull-right">
            <div class="inner-addon left-addon">
                <i class="glyphicon "
                   ng-class="{'glyphicon-cog glyphicon-spin': searching, 'glyphicon-search': !searching}"></i>
                <input type="text" id="filter" class="form-control" name="filter" ng-model="searchTerm"
                       placeholder="Search by item description"/>
            </div>
        </div>
    </div>
    <span class="well-sm"></span>

    <div>

        <table si-table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th class="left-aligned">Qty Shipped</th>
                <th class="left-aligned">Date Shipped</th>
                <th class="left-aligned">Consignee</th>
                <th class="left-aligned">Contact Person</th>
                <th class="left-aligned">District</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="($index, node) in deliveryNodes">
                <td class="centered v-align-middle">{{ $index + 1 }}</td>
                <td class="left-aligned">{{ node.quantityIn }}</td>
                <td class="left-aligned">{{ node.deliveryDate }}</td>
                <td class="left-aligned">{{ node.consigneeName }}</td>
                <td ng-if="node.contactPerson" class="left-aligned">{{ node.contactPerson.firstName}} {{ node.contactPerson.lastName }}</td>
                <td ng-if="!node.contactPerson" class="left-aligned">Contact Not Found</td>
                <td class="left-aligned">{{ node.location }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="centered">
                    <pagination total-items="count" ng-model="currentPage" boundary-links="true"
                                ng-change="goToPage(currentPage)" max-size="5" rotate="false"
                                items-per-page="pageSize">
                    </pagination>
                </td>
            </tr>
            </tfoot>
        </table>
        <span class="information message" ng-show="deliveryNodes.length == 0">There are no deliveries.</span>
    </div>
</div>
