<div class="container-fluid">
    <div class="eums page-header row">
        <div class="pull-left pad-top-10">Item: {{ item.description }}</div>
        <div class="pull-right">
            <a href="#/ip-items" class="btn blue-border-button">
                <span class="glyphicon glyphicon-share-alt flip-horizontal"></span>
                Back to My Warehouse
            </a>
        </div>
    </div>

    <div class="row pad-15">
        <div class="pull-left">
            <span ng-hide="newDeliveryFormShowing" class="btn btn-primary" ng-click="toggleNewDeliveryForm()">
                <span class="glyphicon glyphicon-plus"></span>
                New Delivery Report
            </span>
            <span ng-show="newDeliveryFormShowing" class="btn blue-border-button" ng-click="toggleNewDeliveryForm()">
                <span class="glyphicon glyphicon-remove"></span>
                Discard New Delivery
            </span>
        </div>
        <div class="pull-right pad-top-10">
            <span class="pad-right-5 item-quantity-label">Quantity Available</span>
            <span class="label label-success item-quantity-label">{{ quantityAvailable }}</span>
        </div>
    </div>

    <span class="well-sm"></span>

    <ng-include ng-hide="newDeliveryFormShowing"
                src="'/static/app/views/delivery/ip-delivery/ip-past-item-deliveries-list-partial.html'"></ng-include>
    <ng-include ng-show="newDeliveryFormShowing" ng-controller="NewIpDeliveryController"
                src="'/static/app/views/delivery/ip-delivery/new-ip-delivery-partial.html'"></ng-include>
</div>
