<form role='form' id='filters-form' map-filter="">
    <div class="form-group">
        <label for="select-program">Filter by Outcome</label>
        <input select-program name="" type="text" id="select-program" ng-model="programme"
               placeholder="All Outcomes"/>
    </div>
    <div class="form-group">
        <label for="select-ip">Filter by Implementing Partner</label>
        <input select-i-p name="" type="text" id="select-ip" ng-model="ip"
               placeholder="All Implementing Partners"/>
    </div>
    <p>
        <label>Filter by delivery status</label>
    </p>

    <div delivery-status>
        <div class="checkbox">
            <span class="badge success legend">•</span>
            <label>
                <input type="checkbox" checked ng-model="filter.received"/> Received
            </label>
        </div>
        <div class="checkbox">
            <span class="badge warning legend">•</span>
            <label>
                <input type="checkbox" checked ng-model="filter.receivedWithIssues"/> Received With Issues
            </label>
        </div>
        <div class="checkbox">
            <span class="badge danger legend">•</span>
            <label>
                <input type="checkbox" checked ng-model="filter.notDelivered"/> Not Received
            </label>
        </div>
    </div>

    <p>
        <label>Period Filter</label>
    </p>

    <div date-range-filter>
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                   ng-model="filter.from" is-open="datepicker.from"
                   datepicker-options="dateOptions" show-button-bar="false"
                   value="{{ filter.to | date : 'dd/MM/yyyy' }}" eums-date-picker/>

            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'from')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
          </span>
        <p>

        <p class="input-group">
            <input type="text" min="{{ filter.from }}" class="form-control" datepicker-popup="dd/MM/yyyy"
                   ng-model="filter.to" is-open="datepicker.to"
                   datepicker-options="dateOptions" show-button-bar="false" eums-date-picker/>

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event, 'to')">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>

        </p>
    </div>

    <div class="form-group">
        <button id="filter-clear" class="btn btn-sm btn-primary btn-block" ng-click="clearFilters()">Clear Filters
        </button>
    </div>
</form>


