<form role='form' id='filters-form' map-filter="">
    <div class="form-group">
        <label for="select-program">Filter by programme</label>
        <input select-program name="" type="text" id="select-program" ng-model="programme"
               placeholder="Select a programme"/>
    </div>
    <div class="form-group">
        <label for="select-ip">Filter by Implementing partner</label>
        <input select-i-p name="" type="text" id="select-ip" ng-model="ip"
               placeholder="Select an implementing partner"/>
    </div>
</form>


