<div id='marker-summary' class="table-responsive">
    <div class="panel-header">
        <span ng-show="data.responses">Responses for {{ data.district }} district</span>
        <button type="button"
                class="close"
                ng-show="data.responses"
                ng-click="hideMapMarkerDetails()">
            <span ng-show="data.responses" aria-hidden="true">&times;</span>
        </button>
    </div>
    <ul class="list-group">
        <li href="#" class="list-group-item" ng-repeat="response in data.responses">
            <h6 class="list-group-item-heading response-item-font-weight">{{ response.item }}</h6>

            <p class="list-group-item-text">
                <span class="label label-default"> {{ response.amountSent }} Sent</span>
                <span ng-show="response.amountReceived" class="label label-primary"> {{ response.amountReceived }} Received</span>
                <span ng-show="response.qualityOfProduct"
                      class="label label-info"> {{ response.qualityOfProduct }} </span>
            </p>
        </li>
        <button ng-show="data.responses" ng-click="showDetailedResponses()" id="response-page-btn" type="button"
                class="btn btn-primary">View All Responses
        </button>
    </ul>
</div>