<div id='marker-summary' class="table-responsive">
    <h4 class="page-header"> {{ clickedMarker[0].consignee.name }}</h4>
    <table class="table table-bordered table-condensed" ng-show="clickedMarker">
        <thead>
        <tr>
            <th>Item</th>
            <th>Amount Sent</th>
            <th>Amount Received</th>
            <th>Quality</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="answer in clickedMarker">
            <td>{{ answer.item }}</td>
            <td>{{ answer.amountSent }}</td>
            <td>{{ answer.amountReceived }}</td>
            <td>{{ answer.qualityOfProduct }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <div>
        <span>STATS</span>
        <table>
            <tr>
                <td>300 {{ report.received }}</td>
                <td>200 {{ report.distributed }}</td>
                <td>100 {{ report.balance }}</td>
            </tr>
            <tr>
                <td>RECEIVED</td>
                <td>DISTRIBUTED</td>
                <td>BALANCE</td>
            </tr>
        </table>
    </div>
</div>
